{% extends "layout-header-links.html" %}

{% block pageTitle %}
    Are you sure you want to delete this vacancy?
{% endblock %}

{% block beforeContent %}
  {% include "includes/header-summary.html" %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                <form id="form" method="post" action="job-list-role-deleted">

                  {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: "delete-vacancy",
                  name: "delete-vacancy",
                  fieldset: {
                    legend: {
                      text: "Are you sure you want to delete this vacancy?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--l"
                    }
                  },
                  hint: {
                    text: "Once you have deleted it you will not be able to retrieve it."
                  },
                  items: [
                    {
                      value: "yes",
                      text: "Yes"
                    },
                    {
                      value: "no",
                      text: "No"
                    }
                  ]
                  }) }}

                  <button type="submit" class="govuk-button govuk-!-margin-right-1" id="submit">Continue</button>

              </form>


            </div>
          </div>


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                {{ govukTable({
                  firstCellIsHeader: false,
                  head: [
                    {
                      text: "Job title"
                    },
                    {
                      html: "No. of vacancies"
                    },
                    {
                      html: "No. of locations"
                    },
                    {
                      text: "",
                      format: "numeric"
                    }
                  ],
                  rows: [
                    [
                      {
                        html: "<b>Admin clerk</b>"
                      },
                      {
                        text: "2"
                      },
                      {
                        text: "1"
                      },
                      {
                        html: '<strong class="govuk-tag govuk-tag--grey">Incomplete</strong>',
                        format: "numeric"
                      }
                    ]
                  ]
                }) }}
              </div>
            </div>

        </div>
    </div>
{% endblock %}
