{% extends "layout-footer.html" %}

{% block pageTitle %}
  Sign in to the Kickstart Scheme
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form action="sign-in-reset-notification" method="post">
              {{ govukFieldset({
                  legend: {
                      html: 'Set up a new password',
                      classes: "govuk-fieldset__legend--l",
                      isPageHeading: true
                  }
              })}}

              <p class="govuk-body">Enter your email address and we'll send you instructions.</p>

              {{ govukInput({
                  label: {
                      text: "Email address"
                  },
                  id: "email-address",
                  name: "email-address",
                  classes: "govuk-!-width-two-thirds"
              }) }}

              {{ govukButton({
                  text: "Send email"
              }) }}

              <p><a href="sign-in">Sign in</a></p>

            </form>
        </div>
    </div>
{% endblock %}
