{% extends "layout.html" %}

{% block pageTitle %}
  Apply for a Kickstart Scheme grant - GOV.UK
{% endblock %}

{% block beforeContent %}
<style>
  @import url("/public/stylesheets/govuk.css");

  .gem-c-contents-list {
    position: relative;
    margin: 0 0 20px 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 20px 15px -10px #fff
}

.gem-c-contents-list__title {
    color: #0b0c0c;
    font-family: "nta", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 0
}

@media print {
    .gem-c-contents-list__title {
        color: #000
    }
}

@media print {
    .gem-c-contents-list__title {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-contents-list__title {
        font-size: 16px;
        line-height: 1.5
    }
}

@media print {
    .gem-c-contents-list__title {
        font-size: 14pt;
        line-height: 1.5
    }
}

.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
    color: #0b0c0c;
    font-family: "nta", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428571429;
    margin: 0;
    padding: 0;
    list-style-type: none
}

@media print {
    .gem-c-contents-list__list, .gem-c-contents-list__nested-list {
        color: #000
    }
}

@media print {
    .gem-c-contents-list__list, .gem-c-contents-list__nested-list {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-contents-list__list, .gem-c-contents-list__nested-list {
        font-size: 16px;
        line-height: 1.25
    }
}

@media print {
    .gem-c-contents-list__list, .gem-c-contents-list__nested-list {
        font-size: 14pt;
        line-height: 1.2
    }
}

.gem-c-contents-list--no-underline .gem-c-contents-list__link {
    text-decoration: none
}

.gem-c-contents-list--no-underline .gem-c-contents-list__link:hover,
.gem-c-contents-list--no-underline .gem-c-contents-list__link:active {
    text-decoration: underline
}

.gem-c-contents-list--no-underline .gem-c-contents-list__link:focus,
.gem-c-contents-list--no-underline .gem-c-contents-list__link:active:focus,
.gem-c-contents-list--no-underline .gem-c-contents-list__link:link:focus,
.gem-c-contents-list--no-underline .gem-c-contents-list__link:visited:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    color: #0b0c0c !important
}

.gem-c-contents-list__list-item--parent > .gem-c-contents-list__link {
    font-weight: bold
}

.gem-c-contents-list__link:focus, .gem-c-contents-list__link:active:focus,
.gem-c-contents-list__link:link:focus, .gem-c-contents-list__link:visited:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    color: #0b0c0c !important
}

.gem-c-contents-list__list-item {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none
}

@media (min-width: 40.0625em) {
    .gem-c-contents-list__list-item {
        padding-top: 7.5px
    }
}

.gem-c-contents-list__list-item--dashed {
    position: relative;
    padding-left: 25px;
    padding-right: 25px
}

.gem-c-contents-list__list-item--dashed:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden
}

.gem-c-print-link {
    display: none
}

.gem-c-print-link.gem-c-print-link--show-without-js {
    display: block
}

.js-enabled .gem-c-print-link {
    display: block
}

.gem-c-print-link__link, .gem-c-print-link__button {
    background: url(http://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-b04bc2c6b31f73054f79768fd91f76df0b164b247c0905d8ca07b45cfb4f9a3b.png) no-repeat 10px 50%;
    background-size: 16px 18px;
    padding: 10px 10px 10px 36px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .gem-c-print-link__link, .gem-c-print-link__button {
        background-image: url(http://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-2x-685277484e948f6a848f303d3614e422e652a6a6536980501b893d9f4bbd9f4f.png)
    }
}

.gem-c-print-link__link:hover, .gem-c-print-link__button:hover {
    background-color: #f3f2f1
}

.gem-c-print-link__link {
    box-shadow: inset 0 0 0 1px #b1b4b6;
    text-decoration: none
}

.gem-c-print-link__link:focus {
    border: 0;
    box-shadow: 0 3px #0b0c0c
}

.gem-c-print-link__button {
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    margin: 0
}

.gem-c-print-link__button:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    background-color: #fd0;
    border-color: transparent
}

.gem-c-govspeak .call-to-action {
    margin: 2em 0;
    background-color: #f3f2f1;
    padding: 2em
}

.gem-c-govspeak .call-to-action:first-child {
    margin-top: 0
}

.gem-c-govspeak .call-to-action p:last-child, .gem-c-govspeak .call-to-action ul:last-child,
.gem-c-govspeak .call-to-action ol:last-child {
    margin-bottom: 0
}

.gem-c-govspeak .steps {
    padding-left: 0;
    margin-left: 0;
    overflow: hidden
}

.gem-c-govspeak .steps > li {
    background-position: 0 .87em;
    background-repeat: no-repeat;
    list-style-type: decimal;
    margin-left: 0;
    padding: .75em 0 .75em 2.5em
}

.gem-c-govspeak .steps > li:nth-child(1) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E1%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size: 1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(2) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E2%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size: 1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(3) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E3%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size: 1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(4) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E4%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size: 1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(5) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E5%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size:1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(6) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E6%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size:1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(7) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E7%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size:1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(8) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E8%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size:1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(9) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E9%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size:1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(10) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E10%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size:1.4em 1.4em;
}
.gem-c-govspeak table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin: 30px 0;
    overflow-x: auto;
    width: 100%;
    font-family: "nta", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    line-height:1.25
}

@media print {
    .gem-c-govspeak table {
        font-family:sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-govspeak table {
        font-size: 14px;
        line-height:1.4285714286
    }
}

@media print {
    .gem-c-govspeak table {
        font-size: 12pt;
        line-height:1.2
    }
}

.gem-c-govspeak table caption {
    text-align: left;
    margin-bottom:.5em
}

.gem-c-govspeak table th, .gem-c-govspeak table td {
    vertical-align: top;
    padding: 10px 10px 10px 0;
    border-bottom:solid 1px #b1b4b6
}

.gem-c-govspeak table th {
    font-family: "nta", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    text-align: left;
    color:#0b0c0c
}

@media print {
    .gem-c-govspeak table th {
        font-family:sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-govspeak table th {
        font-size: 14px;
        line-height:1.4285714286
    }
}

@media print {
    .gem-c-govspeak table th {
        font-size: 12pt;
        line-height:1.2
    }
}

.gem-c-govspeak table td small {
    font-size:1em
}

.group-title {
  margin-top: 45px;
  margin-bottom: 15px;
  font-size: 27px;
  font-family: "nta", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  display: block;
}
.app-c-important-metadata {
  font-family: "nta", arial, sans-serif;
}
</style>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
    <span class="govuk-caption-xl gem-c-title__context">
      Guidance
    </span>
  <h1 class="gem-c-title__text govuk-heading-l">
    How the Kickstart Scheme works
  </h1>
</div>
  </div>

  <div class="govuk-grid-column-two-thirds">

  <p class="gem-c-lead-paragraph">Find out how the Kickstart Scheme works and check if your organisation is eligible to apply.</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="gem-c-metadata" data-module="gem-toggle">
  <dl data-module="gem-track-click">
      <dt class="gem-c-metadata__term">From:</dt>
      <dd class="gem-c-metadata__definition">
          <a class="govuk-link" href="/government/organisations/department-for-work-pensions">Department for Work and Pensions</a>

      </dd>
  </dl>
</div>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>





<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="app-c-important-metadata app-c-important-metadata--bottom-margin">
    <dl data-module="gem-track-click">
      <dt class="app-c-important-metadata__term">Applies to: </dt>
      <dd class="app-c-important-metadata__definition">Wales, England, and Scotland</dd>
    </dl>
  </div>


      <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container">
      <div class="responsive-bottom-margin">
          <nav class="gem-c-contents-list  gem-c-contents-list--no-underline " aria-label="Contents" role="navigation" data-module="gem-track-click">
    <h2 class="gem-c-contents-list__title">
      Contents
</h2>
    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#kickstart-scheme-step-by-step-for-employers" data-track-options='{"dimension29":"Kickstart Scheme: step by step for employers"}' href="#kickstart-scheme-step-by-step-for-employers">Employer guidance</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#overview" data-track-options='{"dimension29":"Overview"}' href="#overview">Overview</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#what-you-get" data-track-options='{"dimension29":"What you'll get"}' href="#what-you-get">What you'll get</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#criteria" data-track-options='{"dimension29":"Job criteria"}' href="#criteria">Job criteria</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#getting-the-young-people-into-the-jobs" data-track-options='{"dimension29":"Getting the young people into the jobs"}' href="#getting-the-young-people-into-the-jobs">Getting the young people into the jobs</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#how-you-will-get-the-funding" data-track-options='{"dimension29":"How you will get the funding"}' href="#how-you-will-get-the-funding">How you will get the funding</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="#how-to-apply-1" data-track-options='{"dimension29":"How to apply"}' href="#how-to-apply-1">How to apply</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="#other-schemes" data-track-options='{"dimension29":"Other employment schemes"}' href="#other-schemes">Other employment schemes</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 9" data-track-label="#further-support-and-help" data-track-options='{"dimension29":"Further support and help"}' href="#further-support-and-help">Further support and help</a>

        </li>
    </ol>
</nav>
      </div>


<div class="gem-c-print-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>


<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

        <div class="govspeak">
<h2 id="kickstart-scheme-step-by-step-for-employers">Employer guidance</h2>

<ol class="steps">
<li>
<p>Find out how the Kickstart Scheme works and check if your organisation is eligible to apply</p>
</li>
<li>
<p><a rel="external" href="employers-02a" class="govuk-link">Apply online for a Kickstart Scheme grant</a> or <a rel="external" href="employers-02b" class="govuk-link">apply through a Kickstart gateway</a></p>
</li>
<li>
<p><a rel="external" href="employers-03" class="govuk-link">Sign in to manage your vacancies (only for employers who have applied online)</a></p>
</li>
<li>
<p><a rel="external" href="employers-04" class="govuk-link">Get young people into the Kickstart Scheme jobs</a></p>
</li>
<li>
<p><a rel="external" href="employers-05" class="govuk-link">Manage your funding</a></p>
</li>
</ol>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>If you're a Kickstart gateway, check the <a href="kickstart-for-gateways" class="govuk-link">guidance for gateways</a>.</p>
</div>

<h2 id="overview">Overview</h2>

<p>The Kickstart Scheme provides funding to create new jobs for 16 to 24 year olds on Universal Credit who are at risk of long term unemployment. Employers of all sizes can apply for funding which covers:</p>

<ul>
  <li>100% of the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Minimum Wage</a> (or the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Living Wage</a> depending on the age of the participant) for 25 hours per week for a total of 6 months</li>
  <li>associated <a href="https://www.gov.uk/national-insurance-rates-letters#employer-national-insurance-rates" class="govuk-link">employer National Insurance contributions</a>
</li>
  <li><a rel="external" href="https://www.thepensionsregulator.gov.uk/en/employers" class="govuk-link">minimum automatic enrolment pension contributions</a></li>
</ul>

<p>Employers can spread the job start dates up until 31 December 2021. You'll get funding until 30 June 2022 if a young person starts their job on 31 December 2021.</p>

<p>Further funding is available to provide support so that young people on the scheme can get a job in the future.</p>

<h3 id="how-to-apply">How to apply</h3>

<p>You can apply for a Kickstart Scheme grant by either:</p>

<ul>
  <li>applying online yourself</li>
  <li>applying through a Kickstart gateway who is already working with the Kickstart Scheme</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Find out how to <a href="employers-03" class="govuk-link">sign in to manage your vacancies</a>, <a href="employers-04" class="govuk-link">get young people into the jobs</a> or <a href="employers-05" class="govuk-link">manage your funding</a> if you've already had a successful application.</p>
</div>

<h4 id="applying-online-yourself">Applying online yourself</h4>

<p>You will:</p>

<ul>
  <li>provide the Department for Work and Pensions (<abbr title="Department for Work and Pensions">DWP</abbr>) with information about the jobs you'd like to offer</li>
  <li>have direct contact with <abbr title="Department for Work and Pensions">DWP</abbr> about your application</li>
  <li>manage the funding yourself</li>
</ul>

<h4 id="applying-through-a-kickstart-gateway">Applying through a Kickstart gateway</h4>

<p>A Kickstart gateway can be any type of organisation, such as a local authority, charity or trade body.</p>

<p>They will act as an intermediary and apply for funding on your behalf.</p>

<p>They may also provide employability support to the young people in the job on your behalf.</p>

<p>Kickstart gateways will:</p>

<ul>
  <li>gather information about the jobs you'd like to offer</li>
  <li>share this information with <abbr title="Department for Work and Pensions">DWP</abbr> on your behalf</li>
  <li>pay the funding to you</li>
</ul>

<p><a rel="external" href="https://secure.dwp.gov.uk/find-a-kickstart-gateway" class="govuk-link">Find a Kickstart gateway</a>.</p>

<h3 id="what-is-a-gateway-plus">Applying through a Gateway Plus</h3>

<p>A Gateway Plus is a specific type of Kickstart gateway. They can help smaller organisations, such as sole traders and partnerships, apply for a Kickstart Scheme grant.</p>

<p>Alongside the essential responsibilities of a Kickstart gateway, they will also:</p>

<ul>
  <li>add the young person to their organisation’s payroll</li>
  <li>pay the young person’s wages on your behalf using the funding from <abbr title="Department for Work and Pensions">DWP</abbr>
</li>
  <li>provide the employability support on your behalf</li>
</ul>

<p>Organisations that are approved to act as a Gateway Plus are:</p>

<ul>
  <li>Adecco Working Ventures in Partnership with the Federation of Small Businesses</li>
  <li>REED in partnership with the British Chamber of Commerce</li>
  <li>Manpower Group</li>
  <li>The Wirral Chamber of Commerce</li>
</ul>

<p>Speak to your <a href="https://www.gov.uk/government/publications/kickstart-scheme-employer-contacts/kickstart-scheme-employer-contacts" class="govuk-link">local or national Kickstart Scheme contact</a> about whether applying through a Gateway Plus is the right choice and the options available to you.</p>

<h2 id="what-you-get">What you’ll get</h2>

<h3 id="per-job">£1,500 per job</h3>

<p>You’ll get £1,500 funding per job. This should be spent on setup costs and supporting the young person to develop their employability skills.</p>

<p>For example:</p>

<ul>
  <li>training and employability support (provided by you, a Kickstart gateway or another provider)</li>
  <li>IT equipment and software</li>
  <li>uniform or Personal Protective Equipment</li>
</ul>

<p><abbr title="Department for Work and Pensions">DWP</abbr> may ask you for your records to show that you’ve spent the funding on setup costs and supporting the young person’s employability.</p>

<h3 id="kickstart-scheme-wages-and-related-costs">Kickstart Scheme wages and related costs</h3>

<p>The funding covers:</p>

<ul>
  <li>100% of the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Minimum Wage</a> (or the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Living Wage</a> depending on the age of the participant) for 25 hours per week for a total of 6 months</li>
  <li>associated <a href="https://www.gov.uk/national-insurance-rates-letters#employer-national-insurance-rates" class="govuk-link">employer National Insurance contributions</a>
</li>
  <li><a rel="external" href="https://www.thepensionsregulator.gov.uk/en/employers" class="govuk-link">minimum automatic enrolment pension contributions</a></li>
</ul>

<p>Employers can pay a higher wage and for more hours but the funding will not cover this.</p>

<h3 id="what-the-kickstart-gateway-will-get">What the Kickstart gateway will get</h3>

<p>Kickstart gateways will get £360 for each job to cover admin costs. They may have to pay VAT on this amount depending on their individual circumstances.</p>

<p>If they do not pay VAT, £60 from this payment will be paid to you by the Kickstart gateway (in addition to the £1,500 funding for setup costs) to further support the young person.</p>

<h2 id="criteria">Job criteria</h2>

<p>The jobs created with Kickstart Scheme funding must be new jobs. They must not:</p>

<ul>
  <li>replace existing or planned vacancies</li>
  <li>cause existing employees, apprentices or contractors to lose work or reduce their working hours</li>
</ul>

<p>The jobs must:</p>

<ul>
  <li>be a minimum of 25 hours per week, for 6 months</li>
  <li>pay at least the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Minimum Wage or the National Living Wage</a> for the employee’s age group</li>
  <li>only require basic training</li>
</ul>

<p>For each job you must help the young person become more employable. This could include:</p>

<ul>
  <li>looking for long-term work, including career advice and setting goals</li>
  <li>support with curriculum vitae (<abbr title="curriculum vitae">CV</abbr>) and interview preparations</li>
  <li>developing their skills in the workplace</li>
</ul>

<p>If you are not eligible for Kickstart Scheme funding, <a href="#other-schemes" class="govuk-link">find out about other employment schemes</a>.</p>

<p>The young person may be able to move to another employment scheme when they’ve finished their 6-month Kickstart Scheme job.</p>

<h2 id="how-you-will-get-the-funding">How you will get the funding</h2>

<p>If you apply online, <abbr title="Department for Work and Pensions">DWP</abbr> will send the funding directly to you.</p>

<p>If you apply through a Kickstart gateway, <abbr title="Department for Work and Pensions">DWP</abbr> will send the funding to them. The Kickstart gateway will be responsible for sending the funding to you within 5 working days.</p>

<h3 id="funding-schedule">Funding schedule</h3>

<p>The schedule shows when the funding will be sent to either:</p>

<ul>
  <li>you if you applied directly</li>
  <li>your gateway (they will then need to pass the funding on to you within 5 working days)</li>
</ul>

<table>
  <thead>
    <tr>
      <th scope="col">Funding type</th>
      <th scope="col">When we usually process the funding</th>
      <th scope="col">When you’ll usually receive the funding</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Setup costs</td>
      <td>After you or your gateway has told <abbr title="Department for Work and Pensions">DWP</abbr> the young person has started</td>
      <td>Up to 11 working days after it’s been processed</td>
    </tr>
    <tr>
      <td>First wage payment</td>
      <td>6 weeks after the start date</td>
      <td>Up to 11 working days after it’s been processed</td>
    </tr>
    <tr>
      <td>All other wage payments</td>
      <td>30 days after the previous wage payment</td>
      <td>Up to 11 working days after it’s been processed</td>
    </tr>
  </tbody>
</table>
                                                                                           
<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Find more detailed information about how you manage the funding.</p>
</div>                                                                                       

<h2 id="getting-the-young-people-into-the-jobs">Getting the young people into the jobs</h2>

<p>Kickstart Scheme jobs are only available for Universal Credit claimants aged 16 to 24 who are referred to you by <abbr title="Department for Work and Pensions">DWP</abbr>.</p>

<p>If your application is successful:</p>

<ol class="steps">
<li>
<p>You or your Kickstart gateway will give DWP job descriptions that work coaches at Jobcentre Plus will use to match candidates to the jobs.</p>
</li>
<li>
<p>You or your Kickstart gateway will receive a notification email each time a young person is referred to the job (‘referrals’).</p>
</li>
<li>
<p>Referred candidates may choose to apply for the job.</p>
</li>
<li>
<p>You’ll then be able to interview the candidates who have applied.</p>
</li>
<li>
<p>You or your Kickstart gateway will tell DWP when the young person has started so we can process the funding. You’ll be told how to do this in the ‘referral’ email.</p>
</li>
</ol>
<p>Funding will only be given if a young person is hired using the Kickstart Scheme process.</p>

<p>After a job ends you can get another Kickstart Scheme young person to start another job.</p>

<h3 id="if-a-young-person-leaves-the-job-early">If a young person leaves the job early</h3>

<p>You must email <abbr title="Department for Work and Pensions">DWP</abbr> as soon as possible if a young person either:</p>

<ul>
  <li>leaves their job before the end of the 6-month period</li>
  <li>needs to temporarily leave their job (for example for special leave or COVID-19-related restrictions)</li>
</ul>

<p>The email address is the same one you use to tell <abbr title="Department for Work and Pensions">DWP</abbr> about the young person’s start date. You’ll be told how to do this in the ‘referral’ email you get when a work coach refers a young person to your job vacancy.</p>

<p>If a young person leaves their job early, the next scheduled wage payment from <abbr title="Department for Work and Pensions">DWP</abbr> will be the last you receive for them.</p>

<p><abbr title="Department for Work and Pensions">DWP</abbr> may be able to extend the funding period if the young person has to temporarily stop working.</p>

<h2 id="how-to-apply-1">How to apply</h2>

<p>You can apply for a Kickstart Scheme grant by either:</p>

<ul>
  <li>applying online yourself</li>
  <li>applying through a Kickstart gateway who is already working with the Kickstart Scheme</li>
</ul>

<h3 id="apply-online">Apply online</h3>

<p>You will need to <a href="#provide" class="govuk-link">provide information about the jobs</a> during the application.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Public sector organisations and exempt charities should enter ‘0’ when asked for a Companies House or Charity Commission number.</p>
</div>

<p><a class="gem-c-button govuk-button" role="button" href="https://www.apply-kickstart-grant-employer.service.gov.uk/">Apply online</a></p>

<p><a rel="external" href="https://bit.ly/358TsHx" class="govuk-link">Watch a video that takes you through the online application.</a></p>

<h3 id="apply-through-a-kickstart-gateway">Apply through a Kickstart gateway</h3>

<p><a rel="external" href="https://secure.dwp.gov.uk/find-a-kickstart-gateway" class="govuk-link">Find a Kickstart gateway</a> that is already working with the Kickstart Scheme.</p>

<p>Whoever represents you will add your jobs to their existing grant agreement with <abbr title="Department for Work and Pensions">DWP</abbr>. You’ll need to give them <a href="#provide" class="govuk-link">information about the jobs</a>.</p>

<h2 id="after-you-have-applied">After you have applied</h2>

<p>We’ll aim to email you or your Kickstart gateway with a decision on the application within one month.</p>

<p>The jobs do not exist until the application has been approved and you have signed the grant agreement with <abbr title="Department for Work and Pensions">DWP</abbr> or your Kickstart gateway.</p>

<h2 id="add">Add more jobs to your grant agreement</h2>

<p>You can add more jobs to your grant agreement after it has been approved. You do not need to apply again.</p>

<p>The additional jobs will be assessed to make sure they meet the <a href="#criteria" class="govuk-link">Kickstart Scheme criteria</a>.</p>

<p>If you applied directly, get in touch with your <a href="https://www.gov.uk/government/publications/kickstart-scheme-employer-contacts/kickstart-scheme-employer-contacts" class="govuk-link">local or national Kickstart Scheme contact</a> for information about how to add more jobs to your grant agreement.</p>

<p>If you applied through a Kickstart gateway, tell them you’d like to add more jobs to the grant agreement. They will contact <abbr title="Department for Work and Pensions">DWP</abbr> to arrange this.</p>

<h2 id="other-schemes">Other employment schemes</h2>

<p>Kickstart Scheme is part of the government’s <a href="https://www.gov.uk/guidance/plan-for-jobs-skills-and-employment-programmes-information-for-employers" class="govuk-link">Plan for Jobs</a>. Other employment schemes in this include:</p>

<h3 id="apprenticeships">Apprenticeships</h3>

<p>You may be able to get funding for any apprentices you employ in England. Find out <a href="https://www.gov.uk/topic/further-education-skills/apprenticeships" class="govuk-link">more about apprenticeships</a>.</p>

<h3 id="sector-based-work-academy-programme-swap">Sector-based Work Academy Programme (<abbr title="Sector-based work academy programme">SWAP</abbr>)</h3>

<p>Jobcentre Plus can support you to create a skilled workforce for your business by offering unemployed people <a href="https://www.gov.uk/government/publications/sector-based-work-academies-employer-guide" class="govuk-link">sector-based work academies</a> in England and Scotland.</p>

<h3 id="traineeships">Traineeships</h3>

<p>Employers in England can also help young people by setting up a <a href="https://www.gov.uk/guidance/traineeship-information-for-employers" class="govuk-link">traineeship</a>. Funding is available for this scheme.</p>

<h2 id="further-support-and-help">Further support and help</h2>

<p>Contact your <a href="https://www.gov.uk/government/publications/kickstart-scheme-employer-contacts/kickstart-scheme-employer-contacts" class="govuk-link">local or national Kickstart Scheme contact</a> if you need help with the application process.</p>

<p>You can also read <a href="https://www.gov.uk/government/publications/kickstart-scheme-employer-resources" class="govuk-link">top tips for making a Kickstart Scheme application and guidance for employers on choosing a Kickstart gateway</a>.</p>

<h3 id="disability-confident">Disability Confident</h3>

<p>The <a href="https://www.gov.uk/guidance/disability-confident-how-to-sign-up-to-the-employer-scheme" class="govuk-link">Disability Confident scheme</a> provides employers with the knowledge, skills and confidence they need to make the most of the talents disabled people can bring to the workplace.</p>

<h3 id="coronavirus-support">Coronavirus support</h3>

<p><a href="https://www.gov.uk/business-coronavirus-support-finder" class="govuk-link">Find coronavirus financial support for your business</a><br>
<a href="https://www.gov.uk/coronavirus/business-support" class="govuk-link">Business support (COVID-19)</a></p>

<h3 id="employment-and-recruitment-support">Employment and recruitment support</h3>

<p><a href="https://www.gov.uk/employ-someone" class="govuk-link">Employ someone step by step</a><br>
<a href="https://www.gov.uk/advertise-job" class="govuk-link">Advertise a job</a><br>
<a href="https://www.gov.uk/jobcentre-plus-help-for-recruiters/recruitment-advice-and-support" class="govuk-link">Recruitment advice and support</a></p>

</div>


<h2 id="what-you-get">What you'll get</h2>

<h3 id="per-job">&pound;1,500 per job</h3>

<p>You'll get &pound;1,500 funding per job. This should be spent on setup costs and supporting the young person to develop their employability skills.</p>

<p>For example:</p>

<ul>
  <li>training and employability support (provided by you, a Kickstart gateway or another provider)</li>
  <li>IT equipment and software</li>
  <li>uniform or Personal Protective Equipment</li>
</ul>

<h3 id="kickstart-scheme-wages-and-related-costs">Kickstart Scheme wages and related costs</h3>

<p>The funding covers:</p>

<ul>
  <li>100% of the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Minimum Wage</a> (or the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Living Wage</a> depending on the age of the participant) for 25 hours per week for a total of 6 months</li>
  <li>associated <a href="https://www.gov.uk/national-insurance-rates-letters#employer-national-insurance-rates" class="govuk-link">employer National Insurance contributions</a>
</li>
  <li><a href="https://www.thepensionsregulator.gov.uk/en/employers" class="govuk-link">minimum automatic enrolment pension contributions</a></li>
</ul>

<p>Employers can pay a higher wage and for more hours but the funding will not cover this.</p>

<h3 id="what-the-kickstart-gateway-will-get">What the Kickstart gateway will get</h3>

<p>Kickstart gateways will get &pound;360 for each job to cover admin costs. They may have to pay VAT on this amount depending on their individual circumstances.</p>

<p>If they do not pay VAT, &pound;60 from this payment will be paid to you by the Kickstart gateway (in addition to the &pound;1,500 funding for setup costs) to further support the young person.</p>

<h2 id="criteria">Job criteria</h2>

<p>The jobs created with Kickstart Scheme funding must be new jobs. They must not:</p>

<ul>
  <li>replace existing or planned vacancies</li>
  <li>cause existing employees, apprentices or contractors to lose work or reduce their working hours</li>
</ul>

<p>The jobs must:</p>

<ul>
  <li>be a minimum of 25 hours per week, for 6 months</li>
  <li>pay at least the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Minimum Wage or the National Living Wage</a> for the employee's age group</li>
  <li>only require basic training</li>
</ul>

<p>For each job you must help the young person become more employable. This could include:</p>

<ul>
  <li>looking for long-term work, including career advice and setting goals</li>
  <li>support with curriculum vitae (<abbr title="curriculum vitae">CV</abbr>) and interview preparations</li>
  <li>developing their skills in the workplace</li>
</ul>

<p>If you are not eligible for Kickstart Scheme funding, <a href="#other-schemes" class="govuk-link">find out about other employment schemes</a>.</p>

<p>The young person may be able to move to another employment scheme when they've finished their 6-month Kickstart Scheme job.</p>

<h2 id="getting-the-young-people-into-the-jobs">Getting the young people into the jobs</h2>

<p>Kickstart Scheme jobs are only available for Universal Credit claimants aged 16 to 24 who are referred to you by <abbr title="Department for Work and Pensions">DWP</abbr>.</p>

<p>If your application is successful:</p>

<ol class="steps">
<li>
<p>You or your Kickstart gateway will give DWP job descriptions that work coaches at Jobcentre Plus will use to match candidates to the job.</p>
</li>
<li>
<p>You or your Kickstart gateway will receive a 'referral' email each time a young person is referred to the job.</p>
</li>
<li>
<p>Referred candidates may choose to apply for the job.</p>
</li>
<li>
<p>You'll then be able to interview the candidates who have applied.</p>
</li>
<li>
<p>You or your Kickstart gateway will tell DWP when the young person has started so we can process the funding.</p>
</li>
</ol>
<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You or the employer can advertise vacancies, but all jobs must receive an introduction through a DWP work coach to receive full funding.</p>
</div>

<p>After a job ends you can get another Kickstart Scheme young person to start another job.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>If you apply online, you can <a rel="external" href="employers-03" class="govuk-link">sign in to manage your vacancies</a> after you've made a successful application.</p>
</div>

<h2 id="how-you-will-get-the-funding">How you will get the funding</h2>

<p>If you apply online, <abbr title="Department for Work and Pensions">DWP</abbr> will send the funding directly to you.</p>

<p>If you apply through a Kickstart gateway, <abbr title="Department for Work and Pensions">DWP</abbr> will send the funding to them. The Kickstart gateway will be responsible for sending the funding to you within 5 working days.</p>

<h3 id="funding-schedule">Funding schedule</h3>

<p>The schedule shows when the funding will be sent to either:</p>

<ul>
  <li>you if you applied directly</li>
  <li>your gateway (they will then need to pass the funding on to you)</li>
</ul>

<table>
  <thead>
    <tr>
      <th scope="col">Funding type</th>
      <th scope="col">When we usually process the funding</th>
      <th scope="col">When you'll usually receive the funding</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Setup costs</td>
      <td>After you or your gateway has told <abbr title="Department for Work and Pensions">DWP</abbr> the young person has started</td>
      <td>Up to 11 working days after it's been processed</td>
    </tr>
    <tr>
      <td>First wage payment</td>
      <td>6 weeks after the start date</td>
      <td>Up to 11 working days after it's been processed</td>
    </tr>
    <tr>
      <td>All other wage payments</td>
      <td>30 days after the previous wage payment</td>
      <td>Up to 11 working days after it's been processed</td>
    </tr>
  </tbody>
</table>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Find more detailed information about how you <a rel="external" href="employers-05" class="govuk-link">manage the funding.</a></p>
</div>

<h2 id="how-to-apply-1">How to apply</h2>

<p>You can apply for a Kickstart Scheme grant by either:</p>

<ul>
  <li><a rel="external" href="employers-02a" class="govuk-link">applying online yourself</a></li>
  <li>
<a rel="external" href="employers-02b" class="govuk-link">applying through a Kickstart gateway</a> who is already working with the Kickstart Scheme</li>
</ul>

<h2 id="other-schemes">Other employment schemes</h2>

<p>Kickstart Scheme is part of the government's <a href="https://www.gov.uk/guidance/plan-for-jobs-skills-and-employment-programmes-information-for-employers" class="govuk-link">Plan for Jobs</a>. Other employment schemes in this include:</p>

<h3 id="apprenticeships">Apprenticeships</h3>

<p>You may be able to get funding for any apprentices you employ in England. Find out <a href="https://www.gov.uk/topic/further-education-skills/apprenticeships" class="govuk-link">more about apprenticeships</a>.</p>

<h3 id="sector-based-work-academy-programme-swap">Sector-based Work Academy Programme (<abbr title="Sector-based work academy programme">SWAP</abbr>)</h3>

<p>Jobcentre Plus can support you to create a skilled workforce for your business by offering unemployed people <a href="https://www.gov.uk/government/publications/sector-based-work-academies-employer-guide" class="govuk-link">sector-based work academies</a> in England and Scotland.</p>

<h3 id="traineeships">Traineeships</h3>

<p>Employers in England can also help young people by setting up a <a href="https://www.gov.uk/guidance/traineeship-information-for-employers" class="govuk-link">traineeship</a>. Funding is available for this scheme.</p>

<h2 id="further-support-and-help">Further support and help</h2>

<p>Contact your <a href="https://www.gov.uk/government/publications/kickstart-scheme-employer-contacts/kickstart-scheme-employer-contacts" class="govuk-link">local or national Kickstart Scheme contact</a> if you need help with the application process.</p>

<p>You can also read <a href="https://www.gov.uk/government/publications/kickstart-scheme-employer-resources" class="govuk-link">top tips for making a Kickstart Scheme application and guidance for employers on choosing a Kickstart gateway</a>.</p>

<h3 id="disability-confident">Disability Confident</h3>

<p>The <a href="https://www.gov.uk/guidance/disability-confident-how-to-sign-up-to-the-employer-scheme" class="govuk-link">Disability Confident scheme</a> provides employers with the knowledge, skills and confidence they need to make the most of the talents disabled people can bring to the workplace.</p>

<h3 id="coronavirus-support">Coronavirus support</h3>

<p><a href="https://www.gov.uk/business-coronavirus-support-finder" class="govuk-link">Find coronavirus financial support for your business</a><br>
<a href="https://www.gov.uk/coronavirus/business-support" class="govuk-link">Business support (COVID-19)</a></p>

<h3 id="employment-and-recruitment-support">Employment and recruitment support</h3>

<p><a href="https://www.gov.uk/employ-someone" class="govuk-link">Employ someone step by step</a><br>
<a href="https://www.gov.uk/advertise-job" class="govuk-link">Advertise a job</a><br>
<a href="https://www.gov.uk/jobcentre-plus-help-for-recruiters/recruitment-advice-and-support" class="govuk-link">Recruitment advice and support</a></p>

</div>

</div>

      <div class="responsive-bottom-margin">

      </div>

      <div data-sticky-element class="app-c-contents-list-with-body__link-wrapper">
        <div class="app-c-contents-list-with-body__link-container">
          <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>

        </div>
      </div>
  </div>

<div class="gem-c-print-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

<div class="govuk-grid-column-one-third">

<div class="gem-c-contextual-sidebar">


  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-8ecfba12" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-collections-8ecfba12" data-module="gem-toggle">

    <h3 id="related-nav-collections-8ecfba12" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar" data-track-count="sidebarRelatedItemSection">Collection</h3>

  <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click">


        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar" data-track-category="relatedLinkClicked" data-track-action="1.1 Collection" data-track-label="start" data-track-options='{"dimension28":"1","dimension29":"Kickstart Scheme"}' href="start">Kickstart Scheme</a></li>

  </ul>
</nav>

  </div>





<div class="gem-c-contextual-sidebar__brexit-cta">
  <h2 class="gem-c-contextual-sidebar__brexit-heading govuk-heading-s">Brexit</h2>
  <p class="gem-c-contextual-sidebar__brexit-text govuk-body">
    <a class="govuk-link" data-module="gem-track-click" data-track-category="relatedLinkClicked" data-track-action="1.0 Transition" data-track-label="/transition" data-track-dimension="Check what you need to do" data-track-dimension-index="29" lang="en" href="/transition">Check what you need to do</a>
</p>
</div>
</div>

</div>

</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <div class="gem-c-contextual-footer">

  <div class="gem-c-related-navigation">





      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-0ae9f62f" data-module="gem-toggle">

    <h2 id="related-nav-topics-0ae9f62f" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

  <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click">


        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/employment/recruiting-hiring" data-track-options='{"dimension28":"2","dimension29":"Recruiting and hiring"}' href="/employment/recruiting-hiring">Recruiting and hiring</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.2 Explore the topic" data-track-label="/coronavirus-taxon/funding-and-support" data-track-options='{"dimension28":"2","dimension29":"Funding and support for businesses during coronavirus"}' href="/coronavirus-taxon/funding-and-support">Funding and support for businesses during coronavirus</a></li>

  </ul>
</nav>

  </div>

  </div>


    </div>
  </div>
{% endblock %}
