{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script type="text/javascript">
  module.exports = {

    bind: function (app) {

      app.get('/', function (req, res) {
        res.render('index');
      });

      app.get('/examples/template-data', function (req, res) {
        res.render('examples/template-data', { 'name' : 'Foo' });
      });

      // Includes

      require('./routes/3.js')(app);

    }
  }
</script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">What health conditions, illnesses, disabilities or injuries do you have?</h1>

      <p>If you have more than one condition, you will be able to tell us about it on the next screen.</p>

      <form action="/3/condition" method="post" novalidate>

        <input name="index" type="hidden" value="{{ conditionIndex }}" />

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="condition-name">
            Name of condition
          </label>
          <span id="condition-name-hint" class="govuk-hint">
            Put what’s on your current fit note (you might call this a ‘sick note’), if you have one.
          </span>
          <input class="govuk-input govuk-input--width-12" id="condition-name" name="name" type="text" value="{{condition.name}}" aria-describedby="condition-name-hint">
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="date-start-hint" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">When it first started (this can be an estimate)
            </legend>
            <span id="date-start-hint" class="govuk-hint">
              For example, 30 3 2010
            </span>
            <div class="govuk-date-input" id="date-start-1">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-start-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-start-day" name="day" type="number" pattern="[0-9]*" value="{{ condition.day }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-start-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-start-month" name="month" type="number" pattern="[0-9]*" value="{{ condition.month }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-start-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-start-year" name="year" type="number" pattern="[0-9]*" value="{{ condition.year }}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>{# /govuk-form-group #}

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
