{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Add a role
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "job-add"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call govukFieldset({
        legend: {
          html: "<span class='govuk-caption-l'>Add a role</span>Vacancy advert details",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      
      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "Job summary",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: "Enter a brief description of the role and duties."
        }
      }) }}


      


       {{ govukTextarea({
        name: "skills",
        id: "skills",
        label: {
          text: "Skills needed",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "List the skills, experience and qualifications that the claimant will need to do this job."
        }
      }) }}

      {{ govukTextarea({
        name: "additional-support",
        id: "additional-support",
        label: {
          text: "What support will you provide to the claimant to help their employability?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "For example, coaching and mentoring."
        }
      }) }}

     
      {{ govukTextarea({
        name: "how-apply",
        id: "how-apply",
        label: {
          text: "How to apply",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "For example, whether a CV or covering letter are needed, forms to fill in, how the application should be sent."
        }
      }) }}

{% endcall %}

    <br>

      {{ govukButton({
        text: "Continue",
        href: "job-add-3"
      }) }}

    </div>
  </div>

{% endblock %}
