{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Change your referral limit
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Junior Exhibition Designer, Leeds</span>
      <h1 class="govuk-heading-l">Update your referral limit</h1>

      <form id="form" method="post" action="job-detail">


       {{ govukInput({

          id: "referral-limit",
          classes: "govuk-input--width-5",
          value: "50",
          name: "referral-limit",
          hint: {
          text: "",
          html: "<span class='govuk-caption-s'>You can change the referral limit (the number of applicants we recommend a vacancy to) for each role. The lowest number of referrals you can set for each role is <b>10</b>.</span><br><br>Referrals are no guarantee that candidates will put in an application.</br></br>"
          }
        }) }}


        {{ govukButton({
          text: "Confirm change",
          href: "referral-limit-confirm"
        }) }}

      </form>



        <p class="govuk-body govuk-!-margin-top-9"><a href="../app-home">Return to Arts and Sculpture Ltd</a></p>


    </div>
  </div>

{% endblock %}
