{% extends "layout-footer.html" %}

{% block pageTitle %}
  Set up a mobile authenticator
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<script>
    function goBack() {
      window.history.back();
    }
    </script>
    <a class="govuk-back-link" onclick="goBack()" style="text-decoration: underline; cursor: pointer;">Back</a>
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="kc-password" method="post">
                {{ govukFieldset({
                    legend: {
                        html: "Set up your mobile authentication",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                <p class="govuk-body">Using a mobile authentication app means you can still access your account even if your phone is offline.</p>
                <p class="govuk-body"><a href="kc-choose">Prefer to use SMS text messages as security? </a></p>

      <!--          <h2 class="govuk-heading-m">
                  Why use an Authentication app.
                </h2>
                  <ul class="govuk-list govuk-list--bullet">
                  <li> Using an authenticator app means you can still access your account even if your phone is offline.</li>
                  <li>Even if someone else finds out your password, it won't be enough for them to sign into your account</li>
                </ul>-->
                <h2 class="govuk-heading-m">
                To get started
                </h2>

                <h2 class="govuk-heading-s">
                  Download the authenticator app
                </h2>
                <ol class="govuk-list govuk-list--number">
                <li> Go to your mobile device's app store.
                <li>Search for 'Authenticator App'</li>
                <li>Download the app (FreeOTP or Google Authenticator)</li>
                </ol>
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                <h3 class="govuk-heading-s">
                After you have downloaded the app
                </h3>
                <p class="govuk-body"></p>
                <ol class="govuk-list govuk-list--number">
                <li> Use the app to scan the QR code below </li>

                <br> <p class="govuk-body"><img src="/public/images/randomQR.png" alt="random qr code" style="height: 200px;"></p>


                <div class="govuk-inset-text"> <p class="govuk-body"> If you can't scan the image enter the code below</p>
                <b>JJIU SSRZ NESH URZW M5TT QTKD NRSH ILYV</b></div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                <h2 class="govuk-heading-s">
                Complete the process using the app
                </h2>

                  {{ govukInput({
                    label: {
                        text: "Enter the verification code showing on your device to continue
"
                    },
                    id: "one-time-code",
                    name: "one-time-code",
                    classes: "govuk-!-width-two-thirds"
                }) }}


                                <!-- <p class="govuk-body">Secret key: <b>dvrw qdd4 dfgh erty kj3b</b></p>
<p class="govuk-body">Continue setting up your Kickstart account</p>
            <ol class="govuk-list govuk-list--number">
                  <li>Download and install an authenticator app, for example:
                    <ul class="govuk-list govuk-list--bullet">
                      <li>FreeOTP</li>
                      <li>Google Authenticator</li>
                    </ul></li>
                  <li>Open the app and scan this QR code:</li>

                <h3 class="govuk-heading-m">
                  What do I do now?
                </h3>

  <p class="govuk-body">Download .</p>
                  <p class="govuk-body"><img src="/public/images/randomQR.png" alt="random qr code" style="height: 200px;"></p>
                  <!-- <p class="govuk-body">Secret key: <b>dvrw qdd4 dfgh erty kj3b</b></p> -->

          <!--        {{ govukDetails({
                      summaryText: "Unable to scan?",
                      html: '<p class="govuk-body">Open the app and enter this key:<br><b>JJIU SSRZ NESH URZW M5TT QTKD NRSH ILYV</b></p>'
                    }) }}
 -->


                <!-- {{ govukInput({
                    label: {
                        text: "Device name"
                    },
                    id: "device-name",
                    name: "device-name",
                    classes: "govuk-!-width-two-thirds"
                }) }}-->

            <!--    <div class="govuk-button-group">
                  <button class="govuk-button" data-module="govuk-button">
                    Create my password
                  </button>

                  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Setup SMS instead
                  </button>
                </div>-->

  {{ govukButton({
                    text: "Create my password"
                }) }}


  </form>
            {% include "includes/get-help-link.html" %}
        </div>
    </div>
{% endblock %}
