{% extends "layout-footer.html" %}

{% block pageTitle %}
  Set up your Kickstart Scheme account
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<!--
  <nav class="hmrc-language-select" aria-label="Language switcher">
      <ul class="hmrc-language-select__list">
        <li class="hmrc-language-select__list-item">
          <span aria-current="true">English</span>
        </li>
        <li class="hmrc-language-select__list-item">
          <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
            <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
            <span aria-hidden="true">Cymraeg</span>
          </a>
        </li>
      </ul>
        <a href="kc-choose" class="govuk-back-link">Back</a>
    </nav>-->
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="kc-phone-code" method="post">
                {{ govukFieldset({
                    legend: {
                        html: "Enter your phone number",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                {{ govukInput({
                    label: {
                        text: "Mobile phone number"
                    },
                    id: "phone-number",
                    name: "phone-number",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

            <p class="govuk-body"><a href="kc-choose">Prefer to set up your security using an authenticator app?</a></p>

            {% include "includes/get-help-link.html" %}
        </div>
    </div>
{% endblock %}
