{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Placement detail
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Junior Exhibition Designer, Leeds</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-bottom-2">Fiona Brown</h1>

        <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-5">Paused</strong>

          {{ govukSummaryList({
            classes: ' ',
            rows: [
              {
                key: {
                  text: "Intro ID"
                },
                value: {
                  text: "AS1276"
                }
              },
              {
                key: {
                  text: "Date of Referral"
                },
                value: {
                  text: "11 December 2020"
                }
              },
              {
                key: {
                  text: "Start date in role"
                },
                value: {
                  text: "11 January 2021"
                }
              },
              {
                key: {
                  text: "End date"
                },
                value: {
                  text: "11 June 2021"
                }
              },
              {
                key: {
                  text: "Date placement was paused"
                },
                value: {
                  text: "13 January 2021"
                }
              },
              {
                key: {
                  text: "Reason for pause"
                },
                value: {
                  text: "Job not currently viable during lockdown "
                }


              }
              ]
          }) }}


      <form id="form" method="post" action="placement-detail-paused">

       {{ govukRadios({
          idPrefix: "manage-placement-paused",
          name: "manage-placement-paused",
          fieldset: {
            legend: {
              text: "Update this placement",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "unpause-placement",
              text: "Resume"
            },
            {
              value: "cancel-role",
              text: "Cancel"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          href: "placements-unpaused"
        }) }}

      </form>

        <p class="govuk-body govuk-!-margin-top-9"><a href="../app-home">Back to home</a></p>

    </div>
  </div>

{% endblock %}
