
<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>

{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

{# MOJ add another #}
{# <script src="/node_modules/@ministryofjustice/frontend/moj/all.js"></script> #}
<script>
  new MOJFrontend.AddAnother($('.moj-add-another'));
</script>

{# HMCTS of justice add another #}
{# <script src="/node_modules/@hmcts/frontend/all.js"></script> #}
<script>
  new HMCTSFrontend.AddAnother($('.hmcts-add-another'));
</script>
