{% extends "layout-header-links.html" %}

{% block pageTitle %}
    Are you sure you want to cancel the placement?
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Are you sure you want to end the placement early for David White?
                        </h1>
                        </legend>

                        {{ govukWarningText({
                        text: "There are still 4 months left of this placement. This action cannot be undone once its actioned by DWP.",
                        iconFallbackText: "Warning"
                        }) }}


                                  {% from "govuk/components/radios/macro.njk" import govukRadios %}
                                  {% from "govuk/components/input/macro.njk" import govukInput %}

              <form id="form" method="post" action="cancel-placement-dw">
                    {% set yesHtml %}
                    {{ govukDateInput({
                    id: "cancel-date-yes",
                    namePrefix: "cancel-date-yes",
                    fieldset: {
                        legend: {
                        text: "When do you want end the placement?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--s"
                        }
                    },
                    hint: {
                        text: "For example, 12 11 2007"
                    }
                    }) }}
                            {{ govukSelect({
                              classes: "govuk-combo-width-25",
                                id: "sort",
                                name: "sort",
                                label: {
                                text: "Select a reason for ending the placement early"
                                },
                                      items: [
                                        {
                                        value: "empty field",
                                        text: "---Select one---",
                                        selected: true
                                        },
                                        {
                                        value: "Employer1",
                                        text: "Employer - withdrawal of role/from Kickstart"
                                        },
                                        {
                                        value: "Employer2",
                                        text: "Employer - Dismissal"
                                        },
                                        {
                                        value: "Employee1",
                                        text: "Employee - Role Not Suitable"
                                        },
                                        {
                                        value: "Employee2",
                                        text: "Employee - Other"
                                        }

                                        ]
                                        }) }}



                    {% endset -%}

                    {% set noHtml %}

                    {{ govukRadios({
                      id: "cancel-date-no",
                      namePrefix: "cancel-date-no",
                      fieldset: {
                        legend: {
                          text: "",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--s"
                        }
                      }

                    }) }}
                    {% endset -%}

                    {{ govukRadios({
                      idPrefix: "cancel-placement",
                      name: "cancel-placement",
                      fieldset: {
                        legend: {
                          text: "",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      hint: {
                        text: ""
                      },
                      items: [
                        {
                          value: "cancel-yes",
                          text: "Yes, cancel the placement and end their employment early",
                          conditional: {
                            html: yesHtml
                          }
                        },
                        {
                          value: "cancel-no",
                          text: "No",
                          conditional: {
                            html: noHtml
                          }
                        }
                      ]
                    }) }}



                  <!--<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="cancel-placement" name="cancel-placement" type="radio" value="yes" data-aria-controls="conditional-contact">
                      <label class="govuk-label govuk-radios__label" for="contact">
                          Yes, cancel the placement and terminate their employment
                      </label>
                  </div>
                            {{ govukDateInput({
                            id: "cancel-date",
                            namePrefix: "cancel-date",
                            fieldset: {
                                legend: {
                                text: "When do you want to cancel the placement?",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--s"
                                }
                            },
                            hint: {
                                text: "For example, 12 11 2007"
                            }
                            }) }}


                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--s" for="more-detail">
                                    Enter a reason for cancelling the placement
                                </label>
                                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                            </div>

                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="no" data-aria-controls="conditional-contact-2">
                            <label class="govuk-label govuk-radios__label" for="contact-2">
                            No
                            </label>
                        </div>

                        </div>

                    </fieldset>
                    </div>-->

                <button type="submit" class="govuk-button govuk-!-margin-right-1" id="submit">Continue</button>

            </form>
        </div>
    </div>
{% endblock %}
