{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Placements
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}
        <span class="govuk-caption-l">Junior Exhibition Designer, Leeds</span>
        <h1 class="govuk-heading-l">Filled Vacancies</h1>

        <p class="govuk-!-margin-bottom-3">You can place someone in this vacancy or you can withdraw them from the placement.  </p>
        <p><a href="referrals-place-in-role">Confirm a placement </a> for this vacancy</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Name"
          },
          {
            text: "Intro ID"
          },
          {
            text: "Start date"
          },
          {
            text: "End date"
          },

          {
            text: ""
          },
          {
            text: ""
          }
        ],
        rows: [


          [
           {
              html: "<a href='placement-detail'>Mick Brown</a>"
            },
            {
              text: "AS1234"
            },
            {
              text: "14 August 21"
            },
            {
              text: "13 October 22"
            },
            {
              html: "<a href='cancel-placement-check-mb'>End placement early</a>"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--green">Placed</strong>',
              format: "numeric"
            }
          ],
          [
           {
              html: "<a href='placement-detail'>David White</a>"
            },
            {
              text: "AS2457"
            },
            {
              text: "11 Jan 21"
            },
            {
              text: "11 Jun 22"
            },

            {
              html: ""
            },
            {
              html: '<strong class="govuk-tag govuk-tag--yellow">Awaiting withdrawal</strong>',
              format: "numeric"
            }
          ],
          [
           {
              html: "<a href='placement-detail-paused'>Fiona Brown</a>"
            },
            {
              text: "AS1276"
            },
            {
              text: "11 Jan 21"
            },
            {
              text: "11 October 21"
            },

            {
              html: ""
            },
            {
              html: '<strong class="govuk-tag govuk-tag--red">Withdrawal</strong>',
              format: "numeric"
            }
          ]



        ]
        }) }}


                <div class="govuk-button-group">
                  <a href="../job-list-roles-submitted" class="govuk-button">Return to vacancies</a>
                </div>

        <p class="govuk-body govuk-!-margin-top-9"><a href="../app-home">Back to home</a></p>


    </div>
  </div>

{% endblock %}
