{% extends "layout-header-links.html" %}

{% block pageTitle %}
Confirm the vacancy has been filled{% endblock %}

{% block beforeContent %}
{% include "includes/language-select.njk" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Confirm Mick Brown has been placed in the vacancy</h1>

          {{ govukSummaryList({
            classes: ' ',
            rows: [
              {
                key: {
                  text: "Intro ID"
                },
                value: {
                  text: "AS1234"
                }
              },
              {
                key: {
                  text: "Referred for"
                },
                value: {
                  text: "Junior Exhibition Designer, Leeds"
                }
              },
              {
                key: {
                  text: "Date of Referral"
                },
                value: {
                  text: "10 December 2020"
                }
              }
              ]
          }) }}

<p> </p>

<!--

  <h2 class="govuk-heading-l ">Place this referral in the job</h2>-->
<form id="form" method="post" action="referral-detail">

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="start-date">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Enter the start date for Mick Brown?
        </h1>
      </legend>
      <div id="passport-issued-hint" class="govuk-hint">
        Only provide a start date if you have a confirmed date.
        <br>For example, 01 08 2021
      </div>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="start-date-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-date-day" name="start-date-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="start-date-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-date-month" name="start-date-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="start-date-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-date-year" name="start-date-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
        </div>
      </div>

    </fieldset>
  </div>

  <!--
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% from "govuk/components/input/macro.njk" import govukInput %}

  {% set yesHtml %}
  {{ govukDateInput({
  id: "placement-started-yes",
  namePrefix: "placement-started-yes",
  fieldset: {
    legend: {
      text: "What date will the placement start?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, 12 11 2020"


  ]

  }) }}
  {% endset -%}

  {% set noHtml %}
  {{ govukDateInput({
    id: "placement-started-no",
    namePrefix: "placement-started-no",
    fieldset: {
      legend: {
        text: "Give an anticipated start date (if you have one).",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 12 11 2020"
    }

  }) }}
  {{ govukRadios({
    id: "placement-started-no",
    namePrefix: "placement-started-no",
    fieldset: {
      legend: {
        text: "If you don't provide a start date the placement will be filled, but payment won't be released.",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: ""
    }

  }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: "placement",
    name: "placement",
    fieldset: {
      legend: {
        text: "Enter a start date for Mick Brown",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: ""
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        conditional: {
          html: yesHtml
        }
      },
      {
        value: "no",
        text: "No",
        conditional: {
          html: noHtml
        }
      }
    ]
  }) }}
-->



<!--if logic for button goes here-->

                <div class="govuk-button-group">
                  <a href="../manage/placement-confirm" class="govuk-button">Continue</a>
                </div>

        <!--  <button type="submit" class="govuk-button govuk-!-margin-right-1" id="submit">-</button>-->

        </form>


        <p class="govuk-body govuk-!-margin-top-9"><a href="../app-home">Back to home</a></p>

    </div>
  </div>

{% endblock %}
