{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Kickstart application task list
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "app-list"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Kickstart application
      </h1>
      <p><b>ART AND SCULPTURE LTD</b><br>
        Company number: 11721900</p>
      <p><b>Application reference number:</b> KS 12345678</p>

      <hr>

      <h2 class="govuk-heading-l">Bank or building society account details</h2>

      {{ govukInput({
        label: {
          text: "Name on the account"
        },
        id: "name-on-the-account",
        name: "name-on-the-account",
        spellcheck: false
      }) }}

      {{ govukInput({
        label: {
          text: "Sort code"
        },
        classes: "govuk-input--width-5",
        hint: {
          text: "Must be 6 digits long"
        },
        id: "sort-code",
        name: "sort-code",
        inputmode: "numeric",
        pattern: "[0-9]*",
        spellcheck: false
      }) }}

      {{ govukInput({
        label: {
          text: "Account number"
        },
        classes: "govuk-input--width-10",
        hint: {
          text: "Must be between 6 and 8 digits long"
        },
        id: "account-number",
        name: "account-number",
        inputmode: "numeric",
        pattern: "[0-9]*",
        spellcheck: false
      }) }}

      {{ govukInput({
        label: {
          text: "Building society roll number (if you have one)"
        },
        classes: "govuk-input--width-10",
        hint: {
          text: "You can find it on your card, statement or passbook"
        },
        id: "roll-number",
        name: "roll-number",
        spellcheck: false
      }) }}






      {% set signatory %}
        {{ govukInput({
          id: "contact-by-email",
          name: "contact-by-email",
          type: "email",
          spellcheck: false,
          classes: "govuk-!-width-full",
          label: {
            text: "Name"
          }
        }) }}

        {{ govukInput({
          id: "cemail",
          name: "cemail",
          type: "email",
          spellcheck: false,
          classes: "govuk-!-width-full",
          label: {
            text: "Email"
          }
        }) }}

        <p style="margin-top: 15px;"><a href="#">Add another signatory</a></p>

        {% endset -%}


        {{ govukRadios({
          idPrefix: "contact",
          name: "contact",
          fieldset: {
            legend: {
              text: "Do you want to add an authorised signatory to this bank acount?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: signatory
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}




      {{ govukButton({
        text: "Save bank details",
        href: "app-list"
      }) }}
    </div>
  </div>

{% endblock %}
