// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
//@import 'colours';
//$white-transparent: rgba(255, 255, 255, .3);

//.key-details-bar {
//  background-color: $govuk-blue;

//  .key-details-bar__key-details {
//    margin: 0 auto;
//    max-width: 960px;
//    padding: 20px 30px;
//    position: relative;
//    @media(max-width: 670px) {
//      padding: 20px 15px;
//    }

    /* {
      color: $white;
    }

    .key-details-bar__top-block,
    .key-details-bar__bottom-block {
      &::after {
        clear: both;
        content: ' ';
        display: block;
      }
    }

    .key-details-bar__bottom-block {
      border-top: 1px solid $white-transparent;
      content: ' ';
      padding-top: 10px;
      margin-top: 6px;
      @media(max-width: 670px) {
        border: 0;
      }
    }

    dd,
    dt {
      float: left;
      font-size: 19px;
      margin-right: 5px;
      @media(max-width: 670px) {
        float: none;
        font-size: 16px;
        margin: 0;
      }
    }

    dd {
      margin-right: 20px;
      @media(max-width: 670px) {
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .key-details-bar__name {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11111;
      margin-right: 10px;
      @media(max-width: 670px) {
        font-size: 24px;
        line-height: 1.04167;
        float: left;
        margin: 0 5px 0 0;
      }
    }

    .key-details-bar__nino {
      font-size: 24px;
      line-height: 1;
      margin-top: 12px;
      @media(max-width: 670px) {
        font-size: 18px;
        float: left;
        margin: 5px 0 0 0;
      }
    }

    .key-details-bar__status {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.25;
      padding: 5px 8px 0;
      color: #005ea5;
      background-color: #fff;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;

      float: right;
      margin: 5px 0 0;
      @media(max-width: 670px) {
        font-size: 14px;
        float: left;
        clear: both;
        margin-top: 5px;
      }
    }
  }
}




.app-task-list__items.application-list {
  padding-left: 0;
}


/**
 * user search box
 */
.user-search-box .govuk-form-group {
    margin-left: 20px;
    margin-bottom: 10px;
}

.user-search-box {
    position: relative;
}

.user-search-box .govuk-input {
    padding-right: 45px;
    width: 100%;
}

.user-search-box .search-button,
.user-search-box .search-button:active {
    position: absolute;
    bottom: 2px;
    right: 2px;
    border-width: 0 0 0 2px;
    border-style: solid;
    border-left-color: #000;
    box-sizing: border-box;
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 0;
    padding: 0;
    width: 38px;
    height: 36px;
    background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    background-position: 2px 50%;
    text-indent: 115%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #1d70b8;
    box-shadow: none;

    &:hover,
    &:focus {
        background-color: $govuk-link-hover-colour;
    }
}


/**
 * pagination from: https://home-office-digital-patterns.herokuapp.com/components/pagination
 */
.pagination {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.pagination__item {
  display: inline-block;
  list-style: none;
}

.pagination__link {
    display: block;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #005EA5;
    display: inline-block;
    margin-right: 15px;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:hover,
    &:focus {
        background: #F8F8F8;
        outline: 3px solid #FFBF47;
    }

    &.current {
        font-weight: 700;
    }

    &.current,
    &.disabled {
        color: #0B0C0C;
        border: none;
        pointer-events: none;
        cursor: default;
        font-family: $govuk-font-family;
    }
}

a.pagination__link:hover,
a.pagination__link:focus {
  background: #F8F8F8;
  outline: 3px solid #FFBF47;
}

.pagination__summary {
  font-family: $govuk-font-family;
  line-height: 30px;

  @media (min-width: 642px) {
    float: right;
  }
}

/**
 * V2 cards with background colour
 */
.govuk-cards::after,
.govuk-cards--2::after,
.govuk-cards--3::after {
    content: '';
    display: block;
    clear: both;
}

.govuk-cards--2__item {
    box-sizing: border-box;
    border: 1px solid #b1b4b6;
    background-color: #f3f2f1;
    padding: 20px;
    margin-bottom: 20px;
    float: left;

    :last-child {
        margin-bottom: 0;
    }}
