{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Add a vacancy
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "job-add-3a"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="form" method="post" action="job-add-3b">

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "local-national",
        name: "local-national",
        fieldset: {
          legend: {
            html: "<span class='govuk-caption-l'>Add a vacancy</span>Do you want to advertise this job locally?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
        {
          value: "local",
          text: "Yes, I only want people close by to this location"
        },
        {
            value: "national",
            text: "No, I can employ people from all over the UK for this job"
          }
        ]
      }) }}

        <!-- {{ govukRadios({
          idPrefix: "multiple-locations",
          name: "multiple-locations",
          fieldset: {
            legend: {
              text: "Does this job require the employee to work from multiple locations?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "If they spend the majority of their time at one location but travel to other locations on occasion then select 'No, only one location'."
          },
          items: [
            {
              value: "multiple",
              text: "Yes, more than one location"
            },
            {
              value: "one-location",
              text: "No, only one location"
            }
          ]
        }) }} -->

        <button type="submit" class="govuk-button govuk-!-margin-right-1" id="submit">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}
