{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Confirm vacancy details
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "job-add-4"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Add a vacancy</span>
      <h1 class="govuk-heading-l">Summary</h1>

      <h2 class="govuk-heading-m">Vacancy details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Employer"
            },
            value: {
              text: "Art and Sculpture Ltd"
            },
            actions: {
              items: [
                {
                  text: " ",
                  visuallyHiddenText: "employer"
                }
              ]
            }
          },
          {
            key: {
              text: "Job title"
            },
            value: {
              text: "Junior Exhibition Designer"
            },
            actions: {
              items: [
                {
                  href: "job-add",
                  text: "Change",
                  visuallyHiddenText: "role"
                }
              ]
            }
          },
          {
            key: {
              text: "Number of vacancies"
            },
            value: {
              text: "2"
            },
            actions: {
              items: [
                {
                  href: "job-add",
                  text: "Change",
                  visuallyHiddenText: "number of vacancies"
                }
              ]
            }
          },
          {
            key: {
              text: "Referral cap"
            },
            value: {
              text: "None"
            },
            actions: {
              items: [
                {
                  href: "job-add",
                  text: "Change",
                  visuallyHiddenText: "referral cap"
                }
              ]
            }
          },
          {
            key: {
              text: "Industry sector"
            },
            value: {
              text: "Travel & Tourism"
            },
            actions: {
              items: [
                {
                  href: "job-add",
                  text: "Change",
                  visuallyHiddenText: "sector"
                }
              ]
            }
          },
          {
            key: {
              text: "Internal job reference"
            },
            value: {
              text: "AS 00918"
            },
            actions: {
              items: [
                {
                  href: "job-add",
                  text: "Change",
                  visuallyHiddenText: "emp-ref"
                }
              ]
            }
          },
          {
            key: {
              text: "Contact name"
            },
            value: {
              text: "Sergio Almarez"
            },
            actions: {
              items: [
                {
                  href: "job-add",
                  text: "Change",
                  visuallyHiddenText: "contact name"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone"
            },
            value: {
              text: "0113 321 4321"
            },
            actions: {
              items: [
                {
                  href: "job-add",
                  text: "Change",
                  visuallyHiddenText: "phone"
                }
              ]
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              text: "S.Almarez@leedsartgallery.co.uk"
            },
            actions: {
              items: [
                {
                  href: "job-add",
                  text: "Change",
                  visuallyHiddenText: "email"
                }
              ]
            }
          }
          ]
      }) }}




          <h2 class="govuk-heading-m">Vacancy advert</h2>
           {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "About the job"
            },
            value: {
              text: "Your role as a Junior Exhibition Designer will be predominantly be to support the leading curators and designers in Leeds Art Gallery and the Henry Moore Institute. This a rare opportunity to get access to one of the country's leading art galleries with an expectation that you will learn on the job. Previous coputer skills are necessary as there will be certain amount of data entry. This role is likely to be highly sort after."
            },
            actions: {
              items: [
                {
                  href: "job-add-2",
                  text: "Change",
                  visuallyHiddenText: "vacancy summary"
                }
              ]
            }
          },
          {
            key: {
              text: "What are you looking for?"
            },
            value: {
              text: "Communication, time keeping, basic computer skills, an appreciation and understanding of art."
            },
            actions: {
              items: [
                {
                  href: "job-add-2",
                  text: "Change",
                  visuallyHiddenText: "skills"
                }
              ]
            }
          },
          {
            key: {
              text: "Tell us about your company"
            },
            value: {
              text: "Market leader in immersive art anc cultural exhibitions, Arts and Sculpture are at the forefront of the scene in the UK."
            },
            actions: {
              items: [
                {
                  href: "job-add-2",
                  text: "Change",
                  visuallyHiddenText: "company info"
                }
              ]
            }
          },
          {
            key: {
              text: "What can you offer the Kickstarter?"
            },
            value: {
              text: "We train and support all our employees to grow confidence and knowledge in the world of art and sculpture."
            },
            actions: {
              items: [
                {
                  href: "job-add-2",
                  text: "Change",
                  visuallyHiddenText: "what you can offer"
                }
              ]
            }
          },
          {
            key: {
              text: "How to apply"
            },
            value: {
              text: "CVs emailed to s.almarez@leedsartgallery.co.uk"
            },
            actions: {
              items: [
                {
                  href: "job-add-2",
                  text: "Change",
                  visuallyHiddenText: "how to apply"
                }
              ]
            }
          }

        ]
      }) }}

      <h2 class="govuk-heading-m">Dates</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Anticipated start date"
            },
            value: {
              text: "01/02/2021"
            },
            actions: {
              items: [
                {
                  href: "job-add-1",
                  text: "Change",
                  visuallyHiddenText: "start date"
                }
              ]
            }
          },
          {
            key: {
              text: "Advertising start date"
            },
            value: {
              text: "As soon as possible"
            },
            actions: {
              items: [
                {
                  href: "job-add-1",
                  text: "Change",
                  visuallyHiddenText: "end date"
                }
              ]
            }
          },
          {
            key: {
              text: "Closing date for applications"
            },
            value: {
              text: "None"
            },
            actions: {
              items: [
                {
                  href: "job-add-1",
                  text: "Change",
                  visuallyHiddenText: "deadline"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Job base</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Where will the job be based?"
            },
            value: {
              text: "Required to work on-site at all times"
            },
            actions: {
              items: [
                {
                  href: "job-add-3a",
                  text: "Change",
                  visuallyHiddenText: "deadline"
                }
              ]
            }
          }
        ]
      }) }}



      <h2 class="govuk-heading-m">Location</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Multiple locations?"
            },
            value: {
              html: "No, only one location"
            },
            actions: {
              items: [
                {
                  href: "job-add-3b-locally",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "Leeds Art Gallery<br> The Headrow<br>Leeds"
            },
            actions: {
              items: [
                {
                  href: "job-add-3c",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Postcode"
            },
            value: {
              text: "LS1 3AA"
            },
            actions: {
              items: [
                {
                  href: "job-add-3c",
                  text: "Change",
                  visuallyHiddenText: "email"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Hours and pay</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Total hours per week"
            },
            value: {
              text: "25"
            },
            actions: {
              items: [
                {
                  href: "job-add-4",
                  text: "Change",
                  visuallyHiddenText: "total hours"
                }
              ]
            }
          },
          {
            key: {
              text: "Days"
            },
            value: {
              text: "Monday, Tuesday, Wednesday, Friday, Saturday"
            },
            actions: {
              items: [
                {
                  href: "job-add-4",
                  text: "Change",
                  visuallyHiddenText: "days"
                }
              ]
            }
          },
          {
            key: {
              text: "Hours"
            },
            value: {
              text: "Flexible"
            },
            actions: {
              items: [
                {
                  href: "job-add-4",
                  text: "Change",
                  visuallyHiddenText: "hours"
                }
              ]
            }
          },
          {
            key: {
              text: "Pay"
            },
            value: {
              text: "National minimum wage"
            },
            actions: {
              items: [
                {
                  href: "job-add-4",
                  text: "Change",
                  visuallyHiddenText: "pay"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Confirm vacancy",
        href: "job-list-role-added"
      }) }}

    </div>
  </div>

{% endblock %}
