{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Add a vacancy
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "job-add-3b"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call govukFieldset({
        legend: {
          html: "<span class='govuk-caption-l'>Add a vacancy</span>Location",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}





      <h2 class="govuk-heading-m">Location address</h2>

      {{ govukInput({
        label: {
          html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
        },
        id: "address-line-1",
        name: "address-line-1"
      }) }}

      {{ govukInput({
        label: {
          html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
        },
        id: "address-line-2",
        name: "address-line-2"
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-town",
        name: "address-town"
      }) }}

      {{ govukInput({
        label: {
          text: "County"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-county",
        name: "address-county"
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "address-postcode",
        name: "address-postcode"
      }) }}




    {% endcall %}

      {{ govukButton({
        text: "Continue",
        href: "job-add-4"
      }) }}

    </div>
  </div>

{% endblock %}
