{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Add a vacancy
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "job-add-3a"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="form" method="post" action="job-add-3b">

        {{ govukRadios({
          idPrefix: "multiple-locations",
          name: "multiple-locations",
          fieldset: {
            legend: {
              html: "<span class='govuk-caption-l'>Add a vacancy</span>Does this job require the employee to work from multiple locations?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If they spend the majority of their time at one location but travel to other locations on occasion then select 'No, only one location'."
          },
          items: [
            {
              value: "multiple",
              text: "Yes, more than one location"
            },
            {
              value: "one-location",
              text: "No, only one location"
            }
          ]
        }) }}

        <button type="submit" class="govuk-button govuk-!-margin-right-1" id="submit">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}
