{% extends "layout-footer.html" %}

{% block pageTitle %}
  Register for Kickstart
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="kc-password" method="post">
                {{ govukFieldset({
                    legend: {
                        html: "Mobile Authenticator Setup",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                <p class="govuk-body">You need to set up Mobile Authenticator to activate your account.</p>

                <ol class="govuk-list govuk-list--number">
                  <li>Install one of the following applications on your mobile:
                  <ul class="">
                      <li>FreeOTP</li>
                      <li>Google Authenticator</li>
                  </ul></li>
                  <li>Open the application and scan the barcode:</li>
                  <p class="govuk-body"><img src="/public/images/randomQR.png" alt="random qr code" style="height: 200px;"></p>
                  <!-- <p class="govuk-body">Secret key: <b>dvrw qdd4 dfgh erty kj3b</b></p> -->
                  <p class="govuk-body"><a href="kc-2fa-code">Unable to scan?</a></p>
                  <li>Enter the one-time code provided by the application and click Continue to finish the setup.</li>
                </ol>

                <p class="govuk-body">Provide a device name to help you manage your OTP devices</p>
                {{ govukInput({
                    label: {
                        text: "One-time code"
                    },
                    id: "one-time-code",
                    name: "one-time-code",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Device name"
                    },
                    id: "device-name",
                    name: "device-name",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>
        </div>
    </div>
{% endblock %}
