{% extends "layout.html" %}

{% block pageTitle %}
  Sign in to the Kickstart Scheme
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form action="sign-in-2fa" method="post">
              {{ govukFieldset({
                  legend: {
                      html: 'Sign in to the Kickstart Scheme',
                      classes: "govuk-fieldset__legend--l",
                      isPageHeading: true
                  }
              })}}

              {{ govukInput({
                  label: {
                      text: "Email address"
                  },
                  id: "email-address",
                  name: "email-address",
                  classes: "govuk-!-width-two-thirds"
              }) }}

              {{ govukInput({
                  label: {
                      text: "Password"
                  },
                  id: "password",
                  name: "password",
                  classes: "govuk-!-width-two-thirds",
                  type: "password"
              }) }}

              {{ govukButton({
                  text: "Continue"
              }) }}

                <p><a href="register">Register now</a> if you do not have sign in details already.</p>

                <!--h2 class="govuk-heading-m">Problems signing in</h2-->

                <!-- <ul class="govuk-list signin"> -->
                    <!-- <li>
                        <a href="#" class="govuk-link">I forgot my password</a>
                    </li> -->
                    <!--li>
                        <a href="account-recovery/access" class="govuk-link">I cannot access the email or mobile phone number I use to sign in</a>
                    </li-->
                <!-- </ul> -->
            </form>
        </div>
    </div>
{% endblock %}
