{% extends "layout-footer.html" %}

{% block pageTitle %}
  Set up your Kickstart Scheme account
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="form" method="post" action="kc-choose">
    {{ govukRadios({
        idPrefix: "2fa-choose",
        name: "2fa-choose",
        fieldset: {
          legend: {
            text: "Which security method do you want to choose?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "authenticator-app",
            text: "Use an authenticator app",
            hint: {
              text: "Generate a code using a free smartphone app such as Google Authenticator or FreeOTP."
            }
          },
          {
            value: "mobile-phone",
            text: "Text SMS",
            hint: {
              text: "Receive a code by text message."
            }
          }
        ]
      }) }}

      <button type="submit" class="govuk-button govuk-!-margin-right-1" id="submit">Continue</button>

    </form>

  </div>

  <div class="govuk-grid-column-one-third">

  </div>
</div>
{% endblock %}
