{% extends "layout-footer.html" %}

{% block pageTitle %}
  Privacy Policy - Manage your Kickstart Scheme
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">Privacy policy for Manage your Kickstart Scheme vacancies</h1>
          <p class="govuk-body">The Manage your Kickstart Scheme vacancies allows employers that have been approved for a Kickstart Scheme grant to provide vacancy details online.</p>
          <p class="govuk-body">The vacancies are for 6-month job placements and are aimed at young people who are currently on Universal Credit or Jobseeker’s Allowance and at risk of long-term unemployment.</p>

          <h2 class="govuk-heading-m">The Data Protection Act 2018</h2>
          <p class="govuk-body">The <a href="https://www.gov.uk/government/organisations/department-for-work-pensions" class="govuk-link">Department for Work and Pensions (DWP)</a> is the data controller for ‘Manage your  Kickstart Scheme vacancies’ for the purposes of the Data Protection Act 2018. A data controller determines how and why personal data can be processed.</p>
          <p class="govuk-body">Our <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" class="govuk-link">personal information charter</a> explains:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>how we collect and use personal information</li>
            <li>how to ask for a copy of the information we hold about you</li>
          </ul>

          <h2 class="govuk-heading-m">What data we collect from you</h2>
          <p class="govuk-body">The personal data we collect from you includes:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>your name</li>
            <li>contact information</li>
            <li>organisation details</li>
            <li>organisation details for any organisations you represent</li>
            <li>name, contact and organisation details for relevant staff </li>
          </ul>

          <h2 class="govuk-heading-m">What we do with your data</h2>
          <p class="govuk-body">The data we collect from you helps us provide you and your staff with access to our service.  We use the personal data you’ve provided to contact you for further information and to tell you what will happen next.</p>
          <p class="govuk-body">We will not:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>sell or rent your data to third parties</li>
            <li>share your data with third parties for marketing purposes</li>
          </ul>

          <p class="govuk-body">We will share your data if we’re required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>

          <h2 class="govuk-heading-m">How long we keep your data</h2>
          <p class="govuk-body">We will only keep your personal data for as long as:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the law requires us to</li>
            <li>we need for the purposes listed above</li>
          </ul>

          <p class="govuk-body">This means that we will only hold your personal data for as long as the funding is in place and for 6 years after the payments have stopped.</p>

          <h2 class="govuk-heading-m">Where your data is processed and stored</h2>
          <p class="govuk-body">We design, build and run our systems to make sure that your data is as safe as possible at any stage, both while it’s processed and when it’s stored.</p>
          <p class="govuk-body">All personal data on ‘Manage your Kickstart Scheme vacancies’ is processed, stored and managed entirely in the <a href="https://www.gov.uk/eu-eea" class="govuk-link">European Economic Area (EEA)</a>, and will not be transferred outside of it. This means that it is covered by EU Data Protection regulations.</p>

          <h2 class="govuk-heading-m">Your rights</h2>
          <p class="govuk-body">You have the right to request:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>information about how your personal data is processed</li>
            <li>a copy of that personal data – this copy will be provided in a structured, commonly used and machine-readable format</li>
            <li>information about how your personal data is processed</li>
          </ul>

          <p class="govuk-body">You can also:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>raise an objection about how your personal data is processed</li>
            <li>request that your personal data is erased if there is no longer a justification for it</li>
            <li>ask that we only process your data in certain circumstances</li>
          </ul>

          <p class="govuk-body">If you have any of these requests, get in contact with our Data Protection Officer – you can find their contact details below.</p>

          <h2 class="govuk-heading-m">Changes to this notice</h2>
          <p class="govuk-body">We may change this privacy notice. When we make changes to this notice, the ‘last updated’ date at the top of this page will also change. Any changes to this privacy notice will apply to you and your data immediately. If these changes affect how your personal data is processed, DWP will take reasonable steps to make sure you know.</p>

          <h2 class="govuk-heading-m">Questions and complaints</h2>
          <p class="govuk-body">Contact the Data Protection Officer if you either:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>have any questions about anything in this document</li>
            <li>think that your personal data has been misused or mishandled</li>
          </ul>

          <p class="govuk-body">You can <a href="https://www.gov.uk/guidance/request-your-personal-information-from-the-department-for-work-and-pensions" class="govuk-link">request your personal information from DWP</a> online.</p>
          <p class="govuk-body">The DWP’s Data Protection Officer is Dominic Hartley. You can contact the Data Protection Officer by post at:</p>

          <p class="govuk-body">DWP Data Protection Team<br>Benton Park View 5<br>Mail Handling Site A<br>Wolverhampton<br>WV98 1ZX</p>

          <p class="govuk-body">Or by email at: <a href="mailto:data.protectionofficer@dwp.gov.uk" class="govuk-link">data.protectionofficer@dwp.gov.uk</a></p>
          <p class="govuk-body-s govuk-!-margin-top-6">Last updated 18 May 2021</p>

        </div>

    </div>
  </div>

{% endblock %}
