{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Placements
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}
        <span class="govuk-caption-l">Trainee Chef, Wakefield</span>
        <h1 class="govuk-heading-l">Placements</h1>

        <p class="govuk-!-margin-bottom-3">You have <strong>1</strong> vacancy remaining for this job</p>
        <p><a href="referrals-place-in-role">Place someone in this job</a></p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Name"
          },
          {
            text: "Intro ID"
          },
          {
            text: "Start date"
          },
          {
            text: "End date"
          },
          {
            text: "Email address"
          },
          {
            text: "Status"
          }
        ],
        rows: [
          [
            {
              html: "<a href='placement-detail'>Caroline Stone</a>"
            },
            {
              text: "AS2457"
            },
            {
              text: "11 Jan 21"
            },
            {
              text: "11 Jun 21"
            },
            {
              text: "caroline.stone@gmail.com"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--green">Placed</strong>'
            }
          ],

          [
            {
              html: "<a href='placement-detail-mq'>Michael Quinn</a>"
            },
            {
              text: "AS1276"
            },
            {
              text: "11 Jan 21"
            },
            {
              text: "11 Jun 21"
            },
            {
              text: "michael.quinn@yahoo.com"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--green">Placed</strong>'
            }
          ]

         
        ]
        }) }}


        <p class="govuk-body govuk-!-margin-top-9"><a href="../app-home">Back to home</a></p>
           

    </div>
  </div>

{% endblock %}
