{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Placement detail
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Junior Exhibition Designer, Leeds</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-bottom-2">Mick Brown</h1>

        <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-5">Awaiting start date</strong>

          {{ govukSummaryList({
            classes: ' ',
            rows: [
              {
                key: {
                  text: "Intro ID"
                },
                value: {
                  text: "AS1242"
                }
              },
              {
                key: {
                  text: "Date of referral"
                },
                value: {
                  text: "10 December 2020"
                }
              },
              {
                key: {
                  text: "Start date in role"
                },
                value: {
                  text: "14 January 2021"
                }
              },
              {
                key: {
                  text: "End date"
                },
                value: {
                  text: "14 June 2021"
                }
              },
              
              }
              ]
          }) }}


      <form id="form" method="post" action="#">

        <h2 class="govuk-heading-m">Update start date</h2>

        {{ govukDateInput({
          id: "start-date",
          namePrefix: "start-date",
          fieldset: {
            legend: {
              text: "Enter the expected date they will start work or have started",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}

        {{ govukButton({
          text: "Continue",
          href: "placements-updated"
        }) }}

      </form>

        <p class="govuk-body govuk-!-margin-top-9"><a href="../app-home">Back to home</a></p>

    </div>
  </div>

{% endblock %}
