{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Vacancies
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "app-home-03"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Step 3 of 3</span>
      <h1 class="govuk-heading-l">
        Add your vacancies
      </h1>

      <p class="govuk-body">Add the role details for the <b>34 Kickstart vacancies</b> that you have applied for.</p>

      {{ govukButton({
        text: "Add a role",
        href: "job-add"
      }) }}



      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Job title"
          },
          {
            text: "Number of vacancies"
          },
          {
            text: "Location"
          },
          {
            text: "Postcode"
          },
          {
            text: ""
          },
          {
            text: ""
          }
        ],
        rows: [
          [
            {
              html: "<a href='job-detail'>Junior exhibition designer</a>"
            },
            {
              text: "2"
            },
            {
              text: "Leeds"
            },
            {
              text: "LS1 3AA"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],
          [
            {
              html: ""
            },
            {
              html: "<b>2 / 34</b>"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              html: ""
            },
            {
              html: ""
            }
          ]


        ]
      }) }}


      <!--{{ govukButton({
        text: "Submit vacancies",
        href: "app-sent",
        classes: "govuk-button--secondary"
      }) }}-->

      <p class="govuk-body govuk-!-margin-top-9"><a href="app-home-03">Back to home</a></p>

    </div>
  </div>

{% endblock %}
