{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Add a vacancy
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "job-add-3"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call govukFieldset({
        legend: {
          html: "<span class='govuk-caption-l'>Add a vacancy</span>Hours and pay",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}



      {{ govukInput({
        label: {
          text: "Total hours per week",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "The kickstart scheme requires a minimum of 25 hours per week"
        },
        classes: "govuk-input--width-10",
        id: "total-hours",
        name: "total-hours"
      }) }}

      {{ govukInput({
       label: {
          text: "Days",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "For example, enter 'flexible' or 'Mon to Fri'"
        },
        classes: "govuk-input--width-10",
        id: "days",
        name: "days"
      }) }}

      {{ govukInput({
        label: {
          text: "Hours",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "For example, enter 'flexible' or '9 to 5'"
        },
        classes: "govuk-input--width-10",
        id: "hours",
        name: "hours"
      }) }}

      {{ govukInput({
        label: {
          text: "Pay",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "For example, enter 'minimum wage' or £ per hour"
        },
        classes: "govuk-input--width-10",
        id: "event-name",
        name: "event-name"
      }) }}








    {% endcall %}



      {{ govukButton({
        text: "Continue",
        href: "job-detail"
      }) }}

    </div>
  </div>

{% endblock %}
