{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Add a role
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "job-add-1"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="form" method="post" action="job-add-3a">

      {{ govukRadios({
        idPrefix: "remote-role",
        name: "remote-role",
        fieldset: {
          legend: {
            html: "<span class='govuk-caption-l'>Add a role</span>Is the role 100% remote working?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes, 100% remote working at all times"
          },
          {
            value: "part",
            text: "No, there will be some on-site work"
          },
          {
            value: "not",
            text: "No, this requires the employee to be on site at all times"
          }
        ]
      }) }}

      <button type="submit" class="govuk-button govuk-!-margin-right-1" id="submit">Continue</button>

</form>

    </div>
  </div>

{% endblock %}
