{% extends "layout.html" %}

{% block pageTitle %}
  Apply for a Kickstart Scheme grant - GOV.UK
{% endblock %}

{% block beforeContent %}
<style>
  @import url("/public/stylesheets/govuk.css");

  .gem-c-contents-list {
    position: relative;
    margin: 0 0 20px 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 20px 15px -10px #fff
}

.gem-c-contents-list__title {
    color: #0b0c0c;
    font-family: "nta", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    margin: 0
}

@media print {
    .gem-c-contents-list__title {
        color: #000
    }
}

@media print {
    .gem-c-contents-list__title {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-contents-list__title {
        font-size: 16px;
        line-height: 1.5
    }
}

@media print {
    .gem-c-contents-list__title {
        font-size: 14pt;
        line-height: 1.5
    }
}

.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
    color: #0b0c0c;
    font-family: "nta", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428571429;
    margin: 0;
    padding: 0;
    list-style-type: none
}

@media print {
    .gem-c-contents-list__list, .gem-c-contents-list__nested-list {
        color: #000
    }
}

@media print {
    .gem-c-contents-list__list, .gem-c-contents-list__nested-list {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-contents-list__list, .gem-c-contents-list__nested-list {
        font-size: 16px;
        line-height: 1.25
    }
}

@media print {
    .gem-c-contents-list__list, .gem-c-contents-list__nested-list {
        font-size: 14pt;
        line-height: 1.2
    }
}

.gem-c-contents-list--no-underline .gem-c-contents-list__link {
    text-decoration: none
}

.gem-c-contents-list--no-underline .gem-c-contents-list__link:hover,
.gem-c-contents-list--no-underline .gem-c-contents-list__link:active {
    text-decoration: underline
}

.gem-c-contents-list--no-underline .gem-c-contents-list__link:focus,
.gem-c-contents-list--no-underline .gem-c-contents-list__link:active:focus,
.gem-c-contents-list--no-underline .gem-c-contents-list__link:link:focus,
.gem-c-contents-list--no-underline .gem-c-contents-list__link:visited:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    color: #0b0c0c !important
}

.gem-c-contents-list__list-item--parent > .gem-c-contents-list__link {
    font-weight: bold
}

.gem-c-contents-list__link:focus, .gem-c-contents-list__link:active:focus,
.gem-c-contents-list__link:link:focus, .gem-c-contents-list__link:visited:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    color: #0b0c0c !important
}

.gem-c-contents-list__list-item {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none
}

@media (min-width: 40.0625em) {
    .gem-c-contents-list__list-item {
        padding-top: 7.5px
    }
}

.gem-c-contents-list__list-item--dashed {
    position: relative;
    padding-left: 25px;
    padding-right: 25px
}

.gem-c-contents-list__list-item--dashed:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden
}

.gem-c-print-link {
    display: none
}

.gem-c-print-link.gem-c-print-link--show-without-js {
    display: block
}

.js-enabled .gem-c-print-link {
    display: block
}

.gem-c-print-link__link, .gem-c-print-link__button {
    background: url(http://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-b04bc2c6b31f73054f79768fd91f76df0b164b247c0905d8ca07b45cfb4f9a3b.png) no-repeat 10px 50%;
    background-size: 16px 18px;
    padding: 10px 10px 10px 36px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .gem-c-print-link__link, .gem-c-print-link__button {
        background-image: url(http://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-2x-685277484e948f6a848f303d3614e422e652a6a6536980501b893d9f4bbd9f4f.png)
    }
}

.gem-c-print-link__link:hover, .gem-c-print-link__button:hover {
    background-color: #f3f2f1
}

.gem-c-print-link__link {
    box-shadow: inset 0 0 0 1px #b1b4b6;
    text-decoration: none
}

.gem-c-print-link__link:focus {
    border: 0;
    box-shadow: 0 3px #0b0c0c
}

.gem-c-print-link__button {
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    margin: 0
}

.gem-c-print-link__button:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
    background-color: #fd0;
    border-color: transparent
}

.gem-c-govspeak .call-to-action {
    margin: 2em 0;
    background-color: #f3f2f1;
    padding: 2em
}

.gem-c-govspeak .call-to-action:first-child {
    margin-top: 0
}

.gem-c-govspeak .call-to-action p:last-child, .gem-c-govspeak .call-to-action ul:last-child,
.gem-c-govspeak .call-to-action ol:last-child {
    margin-bottom: 0
}

.gem-c-govspeak .steps {
    padding-left: 0;
    margin-left: 0;
    overflow: hidden
}

.gem-c-govspeak .steps > li {
    background-position: 0 .87em;
    background-repeat: no-repeat;
    list-style-type: decimal;
    margin-left: 0;
    padding: .75em 0 .75em 2.5em
}

.gem-c-govspeak .steps > li:nth-child(1) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E1%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size: 1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(2) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E2%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size: 1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(3) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E3%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size: 1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(4) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E4%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size: 1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(5) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E5%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size:1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(6) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E6%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size:1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(7) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E7%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size:1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(8) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E8%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size:1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(9) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E9%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size:1.4em 1.4em
}

.gem-c-govspeak .steps > li:nth-child(10) {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250' preserveAspectRatio='xMinYMin meet'%3E%3Cg%3E%3Ccircle r='50%25' cx='50%25' cy='50%25' class='circle-back'%3E%3C/circle%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' dy='0.3em' font-family='nta,arial,sans-serif' font-size='8rem' fill='%23ffffff'%3E10%3C/text%3E%3C/g%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: .2em .7em;
    background-size:1.4em 1.4em;
}
.gem-c-govspeak table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin: 30px 0;
    overflow-x: auto;
    width: 100%;
    font-family: "nta", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 12px;
    line-height:1.25
}

@media print {
    .gem-c-govspeak table {
        font-family:sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-govspeak table {
        font-size: 14px;
        line-height:1.4285714286
    }
}

@media print {
    .gem-c-govspeak table {
        font-size: 12pt;
        line-height:1.2
    }
}

.gem-c-govspeak table caption {
    text-align: left;
    margin-bottom:.5em
}

.gem-c-govspeak table th, .gem-c-govspeak table td {
    vertical-align: top;
    padding: 10px 10px 10px 0;
    border-bottom:solid 1px #b1b4b6
}

.gem-c-govspeak table th {
    font-family: "nta", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    text-align: left;
    color:#0b0c0c
}

@media print {
    .gem-c-govspeak table th {
        font-family:sans-serif
    }
}

@media (min-width: 40.0625em) {
    .gem-c-govspeak table th {
        font-size: 14px;
        line-height:1.4285714286
    }
}

@media print {
    .gem-c-govspeak table th {
        font-size: 12pt;
        line-height:1.2
    }
}

.gem-c-govspeak table td small {
    font-size:1em
}

.group-title {
  margin-top: 45px;
  margin-bottom: 15px;
  font-size: 27px;
  font-family: "nta", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  display: block;
}
.app-c-important-metadata {
  font-family: "nta", arial, sans-serif;
}
</style>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
    <span class="govuk-caption-xl gem-c-title__context">
      Guidance
    </span>
  <h1 class="gem-c-title__text govuk-heading-l">
    Help employers with the Kickstart Scheme (Kickstart gateway)
  </h1>
</div>
  </div>

  <div class="govuk-grid-column-two-thirds">

  <p class="gem-c-lead-paragraph">Step by step guidance for Kickstart gateways on how to help employers with the Kickstart Scheme and how to add jobs or employers to the grant agreement.</p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      <div class="gem-c-metadata" data-module="gem-toggle">
  <dl data-module="gem-track-click">
      <dt class="gem-c-metadata__term">From:</dt>
      <dd class="gem-c-metadata__definition">
          <a class="govuk-link" href="/government/organisations/department-for-work-pensions">Department for Work and Pensions</a>

      </dd>
  </dl>
</div>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>
</div>





<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <div class="app-c-important-metadata app-c-important-metadata--bottom-margin">
    <dl data-module="gem-track-click">
      <dt class="app-c-important-metadata__term">Applies to: </dt>
      <dd class="app-c-important-metadata__definition">Wales, England, and Scotland</dd>
    </dl>
  </div>


      <div id="contents" class="app-c-contents-list-with-body" data-module="sticky-element-container">
      <div class="responsive-bottom-margin">
          <nav class="gem-c-contents-list  gem-c-contents-list--no-underline " aria-label="Contents" role="navigation" data-module="gem-track-click">
    <h2 class="gem-c-contents-list__title">
      Contents
</h2>
    <ol class="gem-c-contents-list__list">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#kickstart-scheme-step-by-step-for-kickstart-gateways" data-track-options='{"dimension29":"Kickstart Scheme: step by step for Kickstart gateways"}' href="#kickstart-scheme-step-by-step-for-kickstart-gateways">Kickstart Scheme: step by step for Kickstart gateways</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#step-1" data-track-options='{"dimension29":"Step 1: How the scheme works"}' href="#step-1">Step 1: How the scheme works</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#step-2" data-track-options='{"dimension29":"Step 2: Responsibilities of a Kickstart Scheme gateway"}' href="#step-2">Step 2: Responsibilities of a Kickstart Scheme gateway</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#step-3" data-track-options='{"dimension29":"Step 3: Add more jobs or employers to your grant agreement"}' href="#step-3">Step 3: Add more jobs or employers to your grant agreement</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#step-4" data-track-options='{"dimension29":"Step 4: Submit the employer's job vacancies"}' href="#step-4">Step 4: Submit the employer's job vacancies</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#step-5-manage-the-employers-kickstart-scheme-funding" data-track-options='{"dimension29":"Step 5: Manage the employer's Kickstart Scheme funding"}' href="#step-5-manage-the-employers-kickstart-scheme-funding">Step 5: Manage the employer's Kickstart Scheme funding</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="#other-schemes" data-track-options='{"dimension29":"Other employment schemes"}' href="#other-schemes">Other employment schemes</a>

        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="gem-c-contents-list__link govuk-link " data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="#further-support-and-help" data-track-options='{"dimension29":"Further support and help"}' href="#further-support-and-help">Further support and help</a>

        </li>
    </ol>
</nav>
      </div>


<div class="gem-c-print-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>


<div class="gem-c-govspeak govuk-govspeak " data-module="govspeak">

        <div class="govspeak">
<h2 id="kickstart-scheme-step-by-step-for-kickstart-gateways">Kickstart Scheme: step by step for Kickstart gateways</h2>

<ol class="steps">
<li>
<p><a href="#step-1" class="govuk-link">Remind yourself about how the scheme works</a></p>
</li>
<li>
<p><a href="#step-2" class="govuk-link">Check your responsibilities as Kickstart gateway</a></p>
</li>
<li>
<p><a href="#step-3" class="govuk-link">Add more jobs or employers to your grant agreement</a></p>
</li>
<li>
<p><a href="#step-4" class="govuk-link">Submit the employer's Kickstart Scheme vacancies</a></p>
</li>
<li>
<p><a href="#step-5" class="govuk-link">Manage the employer's Kickstart Scheme funding</a></p>
</li>
</ol>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>If you're an employer, check the <a rel="external" href="how-the-kickstart-scheme-works-step-1" class="govuk-link">step by step for employers</a>.</p>
</div>

<h2 id="step-1">Step 1: How the scheme works</h2>

<p>The Kickstart Scheme provides funding to create new jobs for 16 to 24 year olds on Universal Credit who are at risk of long term unemployment. Employers of all sizes can apply for funding which covers:</p>

<ul>
  <li>100% of the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Minimum Wage</a> (or the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Living Wage</a> depending on the age of the participant) for 25 hours per week for a total of 6 months</li>
  <li>associated <a href="https://www.gov.uk/national-insurance-rates-#employer-national-insurance-rates" class="govuk-link">employer National Insurance contributions</a>
</li>
  <li>any relevant workplace pension contributions (automatic enrolment)</li>
</ul>

<p>Employers can spread the job start dates up until 31 December 2021. They'll get funding until 30 June 2022 if a young person starts their job on 31 December 2021.</p>

<h3 id="what-get">What you'll get</h3>

<p>You'll get an initial payment of &pound;1,860. This includes:</p>

<h3 id="VAT">&pound;360 per job for admin costs</h3>

<p>Kickstart gateways will get &pound;360 for each job to contribute towards admin costs. You may have to pay &pound;60 of VAT depending on your individual circumstances. <a href="https://www.gov.uk/vat-registration/when-to-register" class="govuk-link">Find out if your organisation needs to register to pay VAT</a>.</p>

<h4 id="if-you-do-not-pay-vat">If you do not pay VAT</h4>

<p>&pound;60 from the &pound;360 payment must be added to the &pound;1,500 paid to the employer to provide the young person with employability support.</p>

<h3 id="per-job-for-setup-costs-and-employability-support">&pound;1,500 per job for setup costs and employability support</h3>

<p>This will be paid to you and you will need to pay this to the employer (as well as an extra &pound;60 if you do not pay VAT).</p>

<p>This funding should be spent on setup costs and supporting the young person to develop their employability skills. Employers can choose to get someone else to do this for them, such as a Kickstart gateway or a service provider. If they choose to do this they will have to agree how to share the &pound;1,500.</p>

<p>The employer should use this funding for:</p>

<ul>
  <li>training and employability support (provided by the employer, Kickstart gateway or another provider)</li>
  <li>IT equipment and software</li>
  <li>uniform or Personal Protective Equipment</li>
</ul>

<h3 id="kickstart-scheme-wages-and-related-costs-for-employers">Kickstart Scheme wages and related costs for employers</h3>

<p>Kickstart Scheme wages and costs are paid to you, but you will pass this on to the employer. This funding covers:</p>

<ul>
  <li>100% of the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Minimum Wage</a> (or the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Living Wage</a> depending on the age of the participant) for 25 hours per week for a total of 6 months</li>
  <li>associated <a href="https://www.gov.uk/national-insurance-rates-letters#employer-national-insurance-rates" class="govuk-link">employer National Insurance contributions</a>
</li>
  <li>any relevant workplace pension contributions (automatic enrolment)</li>
</ul>

<p>Employers can pay a higher wage and for more hours but the funding will not cover this.</p>

<h2 id="step-2">Step 2: Responsibilities of a Kickstart Scheme gateway</h2>

<p>As a Kickstart gateway, you act as an intermediary to help an employer get a Kickstart Scheme grant. You may also offer employability support to the young person on the scheme.</p>

<p>You should already have a Kickstart Scheme grant agreement. You can add more employers and jobs to this grant agreement.</p>

<h3 id="essential-responsibilities">Essential responsibilities</h3>

<p>As a Kickstart gateway with an existing grant agreement with <abbr title="Department for Work and Pensions">DWP</abbr>, you need to:</p>

<ul>
  <li>gather information from the employer about the jobs</li>
  <li>provide this information to <abbr title="Department for Work and Pensions">DWP</abbr> by contacting your <a href="https://www.gov.uk/government/publications/kickstart-scheme-employer-contacts/kickstart-scheme-employer-contacts" class="govuk-link">local or national Kickstart Scheme contact</a>
</li>
  <li>
<a href="#step-4" class="govuk-link">submit your employer's vacancies online</a> once they've been approved</li>
  <li>pay employers the <a href="#step-5" class="govuk-link">Kickstart Scheme funding</a>
</li>
</ul>

<h3 id="optional-responsibilities">Optional responsibilities</h3>

<h4 id="employability-support">Employability support</h4>

<p>You may choose to offer employability support to the young person on behalf of the employer.</p>

<p>This can include:</p>

<ul>
  <li>sharing your expertise with the employers to help them onboard and train young people employed through the scheme, for example supporting those with particular disadvantages or working in certain sectors</li>
  <li>providing employability support directly to young people employed through the scheme</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You can offer employability support to an employer outside of your grant agreement. If you do this, this arrangement is between you and the employer.</p>
</div>

<h3 id="how-an-employer-finds-a-kickstart-gateway">How an employer finds a Kickstart gateway</h3>

<p>Employers can find a <a rel="external" href="https://secure.dwp.gov.uk/find-a-kickstart-gateway" class="govuk-link">Kickstart gateway on this list</a>.</p>

<h4 id="change-your-details-on-the-kickstart-gateway-list">Change your details on the Kickstart gateway list</h4>

<p>Email <a href="mailto:kickstart.interest@dwp.gov.uk" class="govuk-link">kickstart.interest@dwp.gov.uk</a> if:</p>

<ul>
  <li>you want your details removed from GOV.UK</li>
  <li>your contact information has changed</li>
</ul>

<h2 id="step-3">Step 3: Add more jobs or employers to your grant agreement</h2>

<p>You can add employers or jobs to your grant agreement with <abbr title="Department for Work and Pensions">DWP</abbr>.</p>

<p>The new jobs or employers will be assessed to make sure they meet the <a href="#criteria" class="govuk-link">Kickstart Scheme criteria</a>.</p>

<p>You will need to get <a href="#emp-needs" class="govuk-link">information about the jobs</a> from the employers.</p>
          
<p>You can add more employers or jobs to your existing grant agreement using this online service.</p>
          
<p>Your <a href="https://www.gov.uk/government/publications/kickstart-scheme-employer-contacts/kickstart-scheme-employer-contacts" class="govuk-link">local or national Kickstart Scheme contact</a> can help with any questions about adding to your grant agreement.</p>

<h3 id="employer-eligibility-criteria">Employer eligibility criteria</h3>

<p>[Content to be added]</p>

<h3 id="criteria">Job criteria</h3>

<p>The jobs created with Kickstart Scheme funding must be new jobs. You need to check all of this with the employers you represent.</p>

<p>The jobs must not:</p>

<ul>
  <li>replace existing or planned vacancies</li>
  <li>cause existing employees, apprentices or contractors to lose work or reduce their working hours</li>
</ul>

<p>The jobs must:</p>

<ul>
  <li>be a minimum of 25 hours per week, for 6 months</li>
  <li>pay at least the <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link">National Minimum Wage or the National Living Wage</a> for the employee's age group</li>
  <li>only require basic training</li>
</ul>

<p>Each job needs to help the young person become more employable. The Kickstart gateway needs to agree with the employer how this is done.</p>

<p>This employability support could include:</p>

<ul>
  <li>looking for long-term work, including career advice and setting goals</li>
  <li>support with CV and interview preparations</li>
  <li>developing their skills in the workplace</li>
</ul>

<p>If the employer is not eligible for Kickstart Scheme funding, they can <a href="#other-schemes" class="govuk-link">find out about other employment schemes</a>.</p>

<p>The young person may be able to move to another employment scheme when they've finished their 6-month Kickstart Scheme job.</p>

<h3 id="emp-needs">What the employer needs to give you</h3>

<p>They'll need to give you:</p>

<ul>
  <li>their Companies House reference number, Charity Commission number or Office of the Scottish Charity Regulator number, if they have one</li>
  <li>their organisation's address and contact details</li>
  <li>details of the jobs and their location</li>
</ul>

<p><abbr title="Department for Work and Pensions">DWP</abbr> performs due diligence checks on all employers using the <a href="https://www.gov.uk/government/collections/grants-management-function#spotlight" class="govuk-link">Cabinet Office Spotlight tool</a>.</p>

<h4 id="ask-them-how-their-jobs-are-new-and-created-just-for-the-scheme">Ask them how their jobs are new and created just for the scheme</h4>

<p>The jobs must not:</p>

<ul>
  <li>replace existing or planned vacancies</li>
  <li>cause existing employees, apprentices or contractors to lose work or reduce their working hours</li>
</ul>

<p>The employer needs to tell you:</p>

<ul>
  <li>how many employees they have</li>
  <li>about changes to their workforce in the last 6 months and why (for example redundancies and changes to hours worked by existing staff)</li>
  <li>the number of people affected by changes to their workforce in the last 6 months</li>
  <li>about the kinds of roles, functions and average salary of those who were made redundant or who had their hours reduced in the last 6 months</li>
  <li>if they would be able to create these jobs without Kickstart Scheme funding and what funding source they would use</li>
  <li>what recruitment they have completed, started or paused in the last 6 months, including how similar these vacancies are or were to the roles they are creating for the Kickstart Scheme</li>
  <li>if the jobs will be similar to existing or planned roles or the roles previously done by those made redundant or with fewer working hours, why they are using Kickstart Scheme funding to create similar roles</li>
  <li>if they've engaged with any relevant trade unions and any advice the unions have given</li>
</ul>

<h4 id="how-they-will-support-young-people-to-become-more-employable">How they will support young people to become more employable</h4>

<p>They should also tell you:</p>

<ul>
  <li>what support will be offered (for example helping young people with writing their CV and preparing for an interview)</li>
  <li>when they will provide this support (for example halfway through their job or towards the end)</li>
  <li>how many hours it will take</li>
  <li>who will provide the support (for example they may already have a pre-existing relationship with training providers or ask you to help with this)</li>
  <li>how they will monitor this support</li>
  <li>how the young person can provide feedback during their job and afterwards, and how this will be acted on</li>
</ul>

<p>We provide <a href="#what-get" class="govuk-link">funding per job</a> for setup costs and support. If employers get someone else to do some of this, such as a Kickstart gateway, they will have to agree how to share this money.</p>

<h2 id="step-4">Step 4: Submit the employer's job vacancies</h2>

<p>If the jobs are successfully <a href="#step-3" class="govuk-link">added to the grant agreement</a>:</p>

<ol class="steps">
<li>
<p>You will <a href="link-to-service" class="govuk-link">submit the employer's job vacancies online</a>.</p>
</li>
<li>
<p>The vacancies will go live once we've approved them. This can take up to 30 days.</p>
</li>
<li>
<p>Work coaches at Jobcentre Plus will refer young people to the vacancies ('referrals'). A referral is made when we recommend a job to a candidate. This does not guarantee the candidate will put in an application.</p>
</li>
<li>
<p>You or the employer (depending on your agreement with them) interview suitable candidates who have applied.</p>
</li>
<li>
<p>You will tell us when the young person has started so we can <a href="anchor" class="govuk-link">process the funding</a>.</p>
</li>
</ol>
<p>Funding will only be given if a young person is hired using the Kickstart Scheme process.</p>

<p>After a job ends the employer can get another Kickstart Scheme young person to start another job.</p>

<h3 id="if-a-young-person-leaves-the-job-early">If a young person leaves the job early</h3>

<p>You must tell <abbr title="Department for Work and Pensions">DWP</abbr> as soon as possible if the young person:</p>

<ul>
  <li>leaves their job before the end of the 6-month period</li>
  <li>needs to temporarily leave their job (for example for special leave or coronavirus-related restrictions)</li>
</ul>

<p>If they leave their job early, <abbr title="Department for Work and Pensions">DWP</abbr> will pay the grant until the end of the month that they stopped working.</p>

<p><abbr title="Department for Work and Pensions">DWP</abbr> may be able to extend the funding period if the young person has to temporarily stop working.</p>

<h2 id="step-5-manage-the-employers-kickstart-scheme-funding">Step 5: Manage the employer's Kickstart Scheme funding</h2>

<p><abbr title="Department for Work and Pensions">DWP</abbr> will send the funding to you as the Kickstart gateway. You will be responsible for sending the funding to the employer.</p>

<h3 id="per-job">&pound;1,860 per job</h3>

<p>You need to inform <abbr title="Department for Work and Pensions">DWP</abbr> when the young person starts the job. The <a href="#what-get" class="govuk-link">&pound;1,500 setup costs and &pound;360 admin costs funding</a> will then be paid.</p>

<p>If the Kickstart gateway or another provider does some of the job setup and employability support, the employer can use the &pound;1,500 funding to cover this.</p>

<h3 id="kickstart-scheme-wages-and-related-costs">Kickstart Scheme wages and related costs</h3>

<p><abbr title="Department for Work and Pensions">DWP</abbr> will use information from <abbr title="Her Majesty's Revenue and Customs">HMRC</abbr> to check that the young person is still employed. The grant funding to pay the young person's salary will be paid in monthly arrears when we know they are:</p>

<ul>
  <li>enrolled on the employer's payroll</li>
  <li>being paid through Pay As You Earn (<abbr title="Pay As You Earn">PAYE</abbr>)</li>
</ul>

<p>The employer can pay a higher wage and for more hours but the funding will not cover this.</p>

<h3 id="funding-schedule">Funding schedule</h3>

<p>The schedule shows when the funding will be sent to you. You then need to send it to the employer within 5 working days.</p>

<table>
  <thead>
    <tr>
      <th scope="col">Funding type</th>
      <th scope="col">When we usually process the funding</th>
      <th scope="col">When you'll usually receive the funding</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Setup costs</td>
      <td>After you or the employer has told <abbr title="Department for Work and Pensions">DWP</abbr> the young person has started</td>
      <td>Up to 11 working days after it's been processed</td>
    </tr>
    <tr>
      <td>First wage payment</td>
      <td>6 weeks after the start date</td>
      <td>Up to 11 working days after it's been processed</td>
    </tr>
    <tr>
      <td>All other wage payments</td>
      <td>4 weeks after the previous wage payment</td>
      <td>Up to 11 working days after it's been processed</td>
    </tr>
  </tbody>
</table>

<h2 id="other-schemes">Other employment schemes</h2>

<p>Kickstart Scheme is part of the government's <a href="https://www.gov.uk/guidance/plan-for-jobs-skills-and-employment-programmes-information-for-employers" class="govuk-link">Plan for Jobs</a>. Other employment schemes in this include:</p>

<h3 id="apprenticeships">Apprenticeships</h3>

<p>You may be able to get funding for any apprentices you employ in England. Find out <a href="https://www.gov.uk/topic/further-education-skills/apprenticeships" class="govuk-link">more about apprenticeships</a>.</p>

<h3 id="sector-based-work-academy-programme-swap">Sector-based Work Academy Programme (<abbr title="Sector-based work academy programme">SWAP</abbr>)</h3>

<p>Jobcentre Plus can support you to create a skilled workforce for your business by offering unemployed people <a href="https://www.gov.uk/government/publications/sector-based-work-academies-employer-guide" class="govuk-link">sector-based work academies</a> in England and Scotland.</p>

<h3 id="traineeships">Traineeships</h3>

<p>Employers in England can also help young people by setting up a <a href="https://www.gov.uk/guidance/traineeship-information-for-employers" class="govuk-link">traineeship</a>. Funding is available for this scheme.</p>

<h2 id="further-support-and-help">Further support and help</h2>

<p>Get in touch with your <a href="https://www.gov.uk/government/publications/kickstart-scheme-employer-contacts/kickstart-scheme-employer-contacts" class="govuk-link">local or national Kickstart Scheme contact</a> if you need help with the application process.</p>

<p>You can also read <a href="https://www.gov.uk/government/publications/kickstart-scheme-employer-resources" class="govuk-link">top tips for making a Kickstart Scheme application and guidance for employers on choosing a Kickstart gateway</a>.</p>

<h3 id="disability-confident">Disability Confident</h3>

<p>The <a href="https://www.gov.uk/guidance/disability-confident-how-to-sign-up-to-the-employer-scheme" class="govuk-link">Disability Confident scheme</a> provides employers with the knowledge, skills and confidence they need to make the most of the talents disabled people can bring to the workplace.</p>

<h3 id="coronavirus-support">Coronavirus support</h3>

<p><a href="https://www.gov.uk/business-coronavirus-support-finder" class="govuk-link">Find coronavirus financial support for your business</a> <br>
<a href="https://www.gov.uk/coronavirus/business-support" class="govuk-link">Business support (COVID-19)</a></p>

<h3 id="employment-and-recruitment-support">Employment and recruitment support</h3>

<p><a href="https://www.gov.uk/employ-someone" class="govuk-link">Employ someone step by step</a> <br>
<a href="https://www.gov.uk/advertise-job" class="govuk-link">Advertise a job</a> <br>
<a href="https://www.gov.uk/jobcentre-plus-help-for-recruiters/recruitment-advice-and-support" class="govuk-link">Recruitment advice and support</a></p>

</div>

</div>

      <div class="responsive-bottom-margin">

      </div>

      <div data-sticky-element class="app-c-contents-list-with-body__link-wrapper">
        <div class="app-c-contents-list-with-body__link-container">
          <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>

        </div>
      </div>
  </div>

<div class="gem-c-print-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">
    <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
</div>
  </div>

<div class="govuk-grid-column-one-third">

<div class="gem-c-contextual-sidebar">


  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-c5d5abff" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-collections-c5d5abff" data-module="gem-toggle">

    <h3 id="related-nav-collections-c5d5abff" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--sidebar" data-track-count="sidebarRelatedItemSection">Collection</h3>

  <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click">


        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar" data-track-category="relatedLinkClicked" data-track-action="1.1 Collection" data-track-label="/government/collections/test-kickstart-scheme" data-track-options='{"dimension28":"1","dimension29":"Kickstart Scheme"}' href="start">Kickstart Scheme</a></li>

  </ul>
</nav>

  </div>





<div class="gem-c-contextual-sidebar__brexit-cta">
  <h2 class="gem-c-contextual-sidebar__brexit-heading govuk-heading-s">Brexit</h2>
  <p class="gem-c-contextual-sidebar__brexit-text govuk-body">
    <a class="govuk-link" data-module="gem-track-click" data-track-category="relatedLinkClicked" data-track-action="1.0 Transition" data-track-label="/transition" data-track-dimension="Check what you need to do" data-track-dimension-index="29" lang="en" href="/transition">Check what you need to do</a>
</p>
</div>
</div>

</div>

</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <div class="gem-c-contextual-footer">

  <div class="gem-c-related-navigation">





      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-d8f15b0b" data-module="gem-toggle">

    <h2 id="related-nav-topics-d8f15b0b" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>

  <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click">


        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/employment/recruiting-hiring" data-track-options='{"dimension28":"2","dimension29":"Recruiting and hiring"}' href="/employment/recruiting-hiring">Recruiting and hiring</a></li>
        <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.2 Explore the topic" data-track-label="/coronavirus-taxon/funding-and-support" data-track-options='{"dimension28":"2","dimension29":"Funding and support for businesses during coronavirus"}' href="/coronavirus-taxon/funding-and-support">Funding and support for businesses during coronavirus</a></li>

  </ul>
</nav>

  </div>

  </div>


    </div>
  </div>
{% endblock %}
