{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Add a vacancy
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/manage-users-link.html" %}
  {% include "includes/header-summary.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "job-add-location-1"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="form" method="post" action="job-add-location-list">

      {{ govukInput({
        label: {
          html: "<span class='govuk-caption-l'>Add a vacancy</span>How many vacancies are at this location?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Number of vacancies for this location."
        },
        classes: "govuk-input--width-4",
        id: "width-4",
        name: "width-4"
      }) }}

      {% set referral %}
      {{ govukInput({
        label: {
          text: "Referral limit",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        },
        classes: "govuk-input--width-5",
        id: "width-5",
        name: "width-5"
        }) }}
        {% endset -%}

       {{ govukRadios({
          idPrefix: "contact",
          name: "contact",
          fieldset: {
            legend: {
              text: "Do you want a referral limit for each vacancy?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "A referral is made when we recommend your job placement to a candidate. This does not guarantee the candidate will put in an application."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: referral
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Contact for this job</h2>

        {{ govukInput({
          label: {
            text: "Full name"
          },
          classes: "govuk-input--width-20",
          id: "contact-name",
          name: "full-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Telephone"
          },
          classes: "govuk-input--width-20",
          id: "telephone",
          name: "telephone"
        }) }}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "It is important that you enter the correct email here. Failure to do so may result in no referrals"
          },
          classes: "govuk-input--width-20",
          id: "email",
          name: "email"
        }) }}

        {{ govukInput({
          label: {
            text: "Confirm email address"
          },
          classes: "govuk-input--width-20",
          id: "confirm-email",
          name: "confirm-email"
        }) }}

      <button type="submit" class="govuk-button govuk-!-margin-right-1" id="submit">Continue</button>

</form>

{% include "includes/get-help-link.html" %}

    </div>
  </div>

{% endblock %}
