{% extends "layout.html" %}

{% block pageTitle %}
    Referral limit updated
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Closing date updated"
            }) }}


            <p class="govuk-body govuk-!-margin-top-6">
                <a href="vacancies" class="govuk-link">Back to vacancies</a>
            </p>


            <p>
                <a href="../app-home" class="govuk-link">Back to home</a>
            </p>
        </div>
    </div>
{% endblock %}
