{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Referrals
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}

        <h2 class="govuk-heading-l">Placements</h2>

        {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Name"
          },
          {
            text: "Date"
          },
          {
            text: "Intro ID"
          },
          {
            text: "Email address"
          },
          {
            text: "Status"
          }
        ],
        rows: [
          [
            {
              html: "<a href='referral-detail'>Mick Brown</a>"
            },
            {
              text: "10 Dec 20"
            },
            {
              text: "AS1234"
            },
            {
              text: "mick.brown76@gmail.com"
            },
            {
              text: "Referred by DWP"
            }
          ],

          [
            {
              html: "<a href=' '>Matt Hayes</a>"
            },
            {
              text: "11 Dec 20"
            },
            {
              text: "AS1235"
            },
            {
              text: "m.hayes@yahoo.com"
            },
            {
              text: "Referred by DWP"
            }
          ]

         
        ]
        }) }}


        <p class="govuk-body govuk-!-margin-top-9"><a href="../app-home">Back to home</a></p>
           

    </div>
  </div>

{% endblock %}
