{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Manage vacancies
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "../app-home"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">KS24684321</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-bottom-2">
         Manage vacancies
      </h1>
      
      <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-5">Live</strong>

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Role title"
          },
          {
            text: "Vacancies"
          },
          {
            text: "Placements"
          },
          {
            text: "Referrals"
          },
          {
            text: "Location"
          },
          {
            text: "Postcode"
          },
          {
            text: "Status"
          }
        ],
        rows: [
          [
            {
              html: "<a href='job-detail'>Junior exhibition designer</a>"
            },
            {
              text: "3"
            },
            {
              text: "2"
            },
            {
              text: "43"
            },
            {
              text: "Leeds"
            },
            {
              text: "LS1 3AA"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--blue">Live</strong>'
            }
          ],

          [
            {
              html: "<a href='job-detail'>Junior exhibition designer</a>"
            },
            {
              text: "1"
            },
            {
              text: "0"
            },
            {
              text: "25"
            },
            {
              text: "Wakefield"
            },
            {
              text: "WF1 5AW"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--blue">Live</strong>'
            }
          ],

          [
            {
              html: "<a href='job-detail'>Admissions assistant</a>"
            },
            {
              text: "6"
            },
            {
              text: "2"
            },
            {
              text: "45"
            },
            {
              text: "Leeds"
            },
            {
              text: "LS1 3AA"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--blue">Live</strong>'
            }
          ],

          [
            {
              html: "<a href='job-detail-rl'>Junior admin clerk</a>"
            },
            {
              text: "3"
            },
            {
              text: "0"
            },
            {
              text: "27"
            },
            {
              text: "Wakefield"
            },
            {
              text: "WF1 5AW"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--red">Referral limit</strong>'
            }
          ],

          [
            {
              html: "<a href='job-detail'>Waiter</a>"
            },
            {
              text: "9"
            },
            {
              text: "0"
            },
            {
              text: "18"
            },
            {
              text: "Leeds"
            },
            {
              text: "LS1 3AA"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--blue">Live</strong>'
            }
          ],

          [
            {
              html: "<a href='job-detail'>Waiter</a>"
            },
            {
              text: "5"
            },
            {
              text: "3"
            },
            {
              text: "58"
            },
            {
              text: "Wakefield"
            },
            {
              text: "WF1 5AW"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--blue">Live</strong>'
            }
          ],

          [
            {
              html: "<a href='job-detail'>Barista</a>"
            },
            {
              text: "2"
            },
            {
              text: "2"
            },
            {
              text: "27"
            },
            {
              text: "Leeds"
            },
            {
              text: "LS1 3AA"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--green">Filled</strong>'
            }
          ],

          [
            {
              html: "<a href='job-detail'>Barista</a>"
            },
            {
              text: "1"
            },
            {
              text: "0"
            },
            {
              text: "18"
            },
            {
              text: "Wakefield"
            },
            {
              text: "WF1 5AW"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--blue">Live</strong>'
            }
          ],

          [
            {
              html: "<a href='job-detail-cd'>Trainee chef<a>"
            },
            {
              text: "2"
            },
            {
              text: "0"
            },
            {
              text: "37"
            },
            {
              text: "Wakefield"
            },
            {
              text: "WF4 4LG"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--red">Closing soon</strong>'
            }
          ],

          [
            {
              html: "<a href='job-detail'>Trainee chef<a>"
            },
            {
              text: "2"
            },
            {
              text: "1"
            },
            {
              text: "37"
            },
            {
              text: "Wakefield"
            },
            {
              text: "WF4 4LG"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--yellow">Paused</strong>'
            }
          ]







        ]
      }) }}

     
      <form action="vacancies" id="form" method="post" >
        {{ govukRadios({
            idPrefix: "manage-application",
            name: "manage-application",
            fieldset: {
              legend: {
                text: "Manage this application",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m  govuk-!-margin-top-9"
              }
            },
            items: [
              {
                value: "application-pause",
                text: "Pause application"
              },
              {
                value: "application-cancel",
                text: "Cancel application"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Continue"         
          }) }}
        </form>


      <p class="govuk-body govuk-!-margin-top-9"><a href="../app-home">Back to home</a></p>

    </div>
  </div>

{% endblock %}
