{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Confirm vacancy details
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  {% include "includes/language-select.njk" %}
  <!-- {% include "includes/manage-users-link.html" %} -->
  {% include "includes/header-summary-users.html" %}
  
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Manage users</h1>
      <p class="govuk-body">You have administrator (admin) access to this account and can request access, for up to 5 other members of staff, as editors.</p>
      <p class="govuk-body">Editors can add, update, delete or submit vacancies.</p>

      <a href="add-editor" class="govuk-button govuk-!-margin-right-1" id="submit">Invite an editor</a>
</div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <!-- <h2 class="govuk-heading-l">Locations</h2> -->

  {{ govukTable({
    attributes: {
    'data-module': 'moj-sortable-table'
    },
    head: [
    {
      text: "Name"
    },
    {
      text: "Email"
    },
    {
      html: "Type"
    },
    {
      text: ""
    },
    {
      text: ""
    }
    ],
    rows: [
    [
      {
        text: "James Williams"
      },
      {
        text: "james.williams@artandsculpture.co.uk"
      },
      {
        text: "Admin"
      },
      {
        html: ""
      },
      {
        html: ""
      }
    ],
    [
      {
        text: "Cheryl Dawlish"
      },
      {
        text: "cheryl.dawlish@artandsculpture.co.uk"
      },
      {
        text: "Editor"
      }
    ]
    ]
    }) }}

      {% include "includes/get-help-link.html" %}

    </div>
    </div>



{% endblock %}
