{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Invite editors
{% endblock %}

{% block beforeContent %}
  {% include "includes/beta-banner.html" %}
  {% include "includes/language-select.njk" %}
  <!-- {% include "includes/manage-users-link.html" %} -->
  {% include "includes/header-summary-users.html" %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Invite editors</h1>
      <p class="govuk-body">You have administrator (admin) access to this account and can request access, for up to 5 other members of staff, as editors.</p>
      <p class="govuk-body">Editors can add, update, delete or submit vacancies.</p>

        <p class="govuk-body">You have <b>5</b> editor accounts remaining.If you need support with this <br> contact us at <a href="sign-in">kickstart.support@dwp.gov.uk</p>

      <a href="add-editor" class="govuk-button govuk-!-margin-right-1" id="submit">Invite an editor</a>
</div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <!-- <h2 class="govuk-heading-l">Locations</h2> -->

      {{ govukInsetText({
        text: "You have not added any editors to your account. After you add them, their details will appear here."
      }) }}

<!--  {{ govukTable({
    attributes: {
    'data-module': 'moj-sortable-table'
    },
    head: [
    {
      text: "Name"
    },
    {
      text: "Email"
    },
    {
      html: "Date invited"
    },
    {
      text: ""
    },
    {
      text: ""
    }
    ],
    rows: [
    [
      {
        text: "James Williams"
      },
      {
        text: "james.williams@artandsculpture.co.uk"
      },
      {
        text: "15/07/2022"
      },
      {
        html: ""
      },
      {
        html: ""
      }
    ],
    [
      {
        text: "Cheryl Dawlish"
      },
      {
        text: "cheryl.dawlish@artandsculpture.co.uk"
      },
      {
        text: "15/07/2022"
      }
    ]
    ]
    }) }}-->
    <p><a href="job-list-roles-submitted" id="submit">Return to your vacancies</a></p>
  {% include "includes/get-help-link.html" %}

    </div>
    </div>



{% endblock %}
