{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Referall detail
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Junior Exhibition Designer, Leeds</span>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-bottom-2">Andy Clarke</h1>

        <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-5">Placed</strong>

          {{ govukSummaryList({
            classes: ' ',
            rows: [
              {
                key: {
                  text: "Intro ID"
                },
                value: {
                  text: "AS1242"
                }
              },
              {
                key: {
                  text: "Date of referral"
                },
                value: {
                  text: "10 December 2020"
                }
              },
              {
                key: {
                  text: "Start date in role"
                },
                value: {
                  text: "14 February 2020"
                }
              },
              {
                key: {
                  text: "Email address"
                },
                value: {
                  text: "andrew.clarke79@gmail.com"
                }
              },
              {
                key: {
                  text: "Phone number"
                },
                value: {
                  text: "07787147323"
                }
              }
              ]
          }) }}

    
      <form id="form" method="post" action="#">

       {{ govukRadios({
          idPrefix: "manage-placement",
          name: "manage-placement",
          fieldset: {
            legend: {
              text: "Manage this placement",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "pause-placement",
              text: "Pause"
            },
            {
              value: "cancel-role",
              text: "Cancel"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

        <p class="govuk-body govuk-!-margin-top-9"><a href="../app-home">Back to home</a></p>
       
    </div>
  </div>

{% endblock %}
