{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Manage vacancies
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "../app-home-adverts"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">KS24684321</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-bottom-2">
         Manage vacancy adverts
      </h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body ">To put your vacancies live you will need to set a start date. You can also set a referral limit and a closing date for job applications.</p>
        </div>
      </div>
      <script language="JavaScript">
        function toggle(source) {
          checkboxes = document.getElementsByName('box');
          for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
          }
        }
      </script>

      <div class='govuk-checkboxes govuk-checkboxes--small'>
        <div class='govuk-checkboxes__item'>
          <input class='govuk-checkboxes__input' id='select-all' name='box' type='checkbox' value='select-all'  onClick='toggle(this)'>
          <label class='govuk-label govuk-checkboxes__label' for='select-all'>Select all
          </label>
        </div>
      </div>

      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Vacancy ID"
          },
          {
            text: "Vacancy"
          },
          {
            text: "Location"
          },
          {
            text: "Start date"
          },
          {
            text: "Referral limit"
          },
          {
            text: ""
          },
          {
            text: "Status"
          }
        ],
        rows: [
          [
            {
              html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                      <div class='govuk-checkboxes__item'>
                        <input class='govuk-checkboxes__input' id='box1' name='box' type='checkbox' value='box1'>
                        <label class='govuk-label govuk-checkboxes__label' for='box1'>VX79327
                        </label>
                      </div>
                    </div>"
            },
            {
              html: "Junior exhibition designer"
            },
            {
              text: "Leeds"
            },
            {
              html: "Not set"
            },
            {
              html: "None"
            },
            {
              html: "<a href='advert-job-start' >Push live</a>"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
            }
          ],
          [
            {
              html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                      <div class='govuk-checkboxes__item'>
                        <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                        <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                        </label>
                      </div>
                    </div>"
            },
            {
              html: "Junior exhibition designer"
            },
            {
              text: "Leeds"
            },
            {
              html: "Not set"
            },
            {
              html: "None"
            },
            {
              html: "<a href='advert-job-start' >Push live</a>"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
            }
          ],
          [
            {
              html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                      <div class='govuk-checkboxes__item'>
                        <input class='govuk-checkboxes__input' id='box3' name='box' type='checkbox' value='box3'>
                        <label class='govuk-label govuk-checkboxes__label' for='box3'>VX79329
                        </label>
                      </div>
                    </div>"
            },
            {
              html: "Junior exhibition designer"
            },
            {
              text: "Leeds"
            },
            {
              html: "Not set"
            },
            {
              html: "None"
            },
            {
              html: "<a href='advert-job-start' >Push live</a>"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
            }
          ],
          [
            {
              html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                      <div class='govuk-checkboxes__item'>
                        <input class='govuk-checkboxes__input' id='box4' name='box' type='checkbox' value='box4'>
                        <label class='govuk-label govuk-checkboxes__label' for='box4'>VX79330
                        </label>
                      </div>
                    </div>"
            },
            {
              html: "Junior exhibition designer"
            },
            {
              text: "Leeds"
            },
            {
              html: "Not set"
            },
            {
              html: "None"
            },
            {
              html: "<a href='advert-job-start' >Push live</a>"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
            }
          ],
          [
            {
              html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                      <div class='govuk-checkboxes__item'>
                        <input class='govuk-checkboxes__input' id='box5' name='box' type='checkbox' value='box5'>
                        <label class='govuk-label govuk-checkboxes__label' for='box5'>VX79331
                        </label>
                      </div>
                    </div>"
            },
            {
              html: "Junior exhibition designer"
            },
            {
              text: "Leeds"
            },
            {
              html: "Not set"
            },
            {
              html: "None"
            },
            {
              html: "<a href='advert-job-start' >Push live</a>"
            },
            {
              html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
            }
          ],

        [
          {
            html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                    <div class='govuk-checkboxes__item'>
                      <input class='govuk-checkboxes__input' id='box6' name='box' type='checkbox' value='box5'>
                      <label class='govuk-label govuk-checkboxes__label' for='box6'>VX79331
                      </label>
                    </div>
                  </div>"
          },
          {
            html: "Admin clerk"
          },
          {
            text: "Leeds"
          },
          {
            html: "Not set"
          },
          {
            html: "None"
          },
          {
            html: "<a href='advert-job-start' >Push live</a>"
          },
          {
            html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
          }

        ],
        [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Junior operations manager"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Editor"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Editor"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Editor"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Sign designer"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Warehouse operative"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Warehouse operative"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Warehouse operative"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Warehouse operative"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Warehouse operative"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Warehouse operative"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Warehouse operative"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Artworker"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Labourer"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Labourer"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Labourer"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Labourer"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Labourer"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ],
      [
        {
          html: "<div class='govuk-checkboxes govuk-checkboxes--small'>
                  <div class='govuk-checkboxes__item'>
                    <input class='govuk-checkboxes__input' id='box2' name='box' type='checkbox' value='box2'>
                    <label class='govuk-label govuk-checkboxes__label' for='box2'>VX79328
                    </label>
                  </div>
                </div>"
        },
        {
          html: "Fork-lift driver"
        },
        {
          text: "Leeds"
        },
        {
          html: "Not set"
        },
        {
          html: "None"
        },
        {
          html: "<a href='advert-job-start' >Push live</a>"
        },
        {
          html: '<strong class="govuk-tag govuk-tag--grey">Not Live</strong>'
        }
      ]
    ]
      }) }}


      <form action="vacancies" id="form" method="post" >
          {{ govukButton({
            text: "Put vacancies live"
          }) }}
        </form>


      <p class="govuk-body govuk-!-margin-top-9"><a href="../app-home">Back to home</a></p>

    </div>
  </div>

{% endblock %}
