{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Manage users
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
  {% include "includes/manage-users-link.html" %}
  {% include "includes/header-summary-gateway.html" %}
    {{ govukBackLink({
      text: "Back",
      href: "employer-list"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Manage users</h1>
      <p class="govuk-body">As an administrator (admin), you can give admin access or editor access to colleagues in your organization or to employers under your gateway.</p>
      <p class="govuk-body">Administrators can view, add, update or delete vacancy details.  They can submit vacancies to DWP.
      Editors can view add or update vacancy details.  They can submit vacancies to administrators.</p>

      <a href="which-user" class="govuk-button govuk-!-margin-right-1" id="submit">Add a user</a>
</div>
</div>

<!--table1-->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Erico Recruitment</h2>
        {{ govukTable({
          attributes: {
          'data-module': 'moj-sortable-table'
          },
          head: [
          {
            text: "Name"
          },
          {
            text: "Email"
          },
          {
            html: "Type"
          },
          {
            text: ""
          },
          {
            text: ""
          }
          ],
          rows: [
          [

            {
              text: "Bill Walsh"
            },

            {
              text: "bill.walsh@ericorecruitment.co.uk"
            },
            {
              text: "Gateway Admin"
            },
            {
              html: "<a href='add-a-Gateway-user'>Change</a>"
            },
            {
              html: ""
            }
          ],
          [

          {
              text: "Rebecca Irving"
            },

            {
              text: "rebecca.irving@ericorecruitment.co.uk"
            },
            {
              text: "Gateway Editor"
            },
            {
              html: "<a href='add-a-Gateway-user'>Change</a>"
            },
            {
              html: "<a href='delete-user'>Delete</a>"
            }
          ]
          ]
          }) }}



            </div>
            </div>

<!--table2-->
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <br><h2 class="govuk-heading-m">Employers</h2></<br>
                    {{ govukTable({
                      attributes: {
                      'data-module': 'moj-sortable-table'
                      },
                      head: [
                      {
                        text: "Employer name",
                        classes: 'govuk-!-width-one-eighth'
                      },
                      {
                        text: "Name",
                        classes: 'govuk-!-width-one-eighth'
                      },
                      {
                        text: "Email"

                      },
                      {
                        text: "Type",
                        classes: 'govuk-!-width-one-eighth'
                      },
                      {
                        text: "",
                        classes: 'govuk-!-width-one-eighth'
                      },
                      {
                        text: " ",
                          classes: 'govuk-!-width-one-eighth'
                      }
                    ],
                    rows: [
                      [
                        {
                          text: "Arts and Sculpture"
                        },
                        {
                          text: "James Williams"
                        },
                        {
                          text: "james.williams@artsandsculpture.co.uk"
                        },
                        {
                          text: "Admin"
                        },
                        {
                          html: "<a href='add-a-user'>Change</a>"
                        },
                        {
                          html: ""
                        }
                      ],
                      [
                        {
                          text: "Arts and Sculpture"
                        },
                        {
                          text: "Cheryl Dawlish"
                        },
                        {
                          text: "cheryl.dawlish@artsandsculpture.co.uk"
                        },
                        {
                          text: "Editor"
                        },
                        {
                          html: "<a href='add-a-user'>Change</a>"
                        },
                        {
                          html: "<a href='delete-user'>Delete</a>"
                        }
                      ],
                      [

                      ]
                    ]
                  }) }}


                  {% include "includes/get-help-link.html" %}
    </div>
    </div>



{% endblock %}
