{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Kickstart application task list
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "app-home"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We’ve sent your application to Universal Credit vacancies.
      </p>
      <p class="govuk-body">
        They will contact you either to confirm that your vacancies are available to view, or to ask for more information.
      </p>

    </div>
  </div>
{% endblock %}
