{% extends "layout.html" %}

{% block pageTitle %}
  Kickstart application task list
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "app-list"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Vacancies
      </h1>
      <p><b>ART AND SCULPTURE LTD</b><br>
        Company number: 11721900</p>
      <p><b>Application reference number:</b> FG 75792334</p>

      <hr>

      {{ govukButton({
        text: "Add a vacancy",
        href: "job-add"
      }) }}



      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Job title"
          },
          {
            text: "Number of vacancies"
          },
          {
            text: "Area/town/city"
          },
          {
            text: "Postcode"
          },
          {
            text: ""
          },
          {
            text: ""
          }
        ],
        rows: [
          [
            {
              html: "<a href='job-detail'>Junior exhibition designer</a>"
            },
            {
              text: "2"
            },
            {
              text: "Leeds"
            },
            {
              text: "LS1 3AA"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Junior exhibition designer</a>"
            },
            {
              text: "1"
            },
            {
              text: "Wakefield"
            },
            {
              text: "WF1 5AW"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Admissions assistant</a>"
            },
            {
              text: "6"
            },
            {
              text: "Leeds"
            },
            {
              text: "LS1 3AA"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Admissions assistant</a>"
            },
            {
              text: "3"
            },
            {
              text: "Wakefield"
            },
            {
              text: "WF1 5AW"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Waiter</a>"
            },
            {
              text: "9"
            },
            {
              text: "Leeds"
            },
            {
              text: "LS1 3AA"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Waiter</a>"
            },
            {
              text: "5"
            },
            {
              text: "Leeds"
            },
            {
              text: "LS1 3AA"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Barista</a>"
            },
            {
              text: "2"
            },
            {
              text: "Leeds"
            },
            {
              text: "LS1 3AA"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Barista</a>"
            },
            {
              text: "1"
            },
            {
              text: "Wakefield"
            },
            {
              text: "WF1 5AW"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Trainee chef<a>"
            },
            {
              text: "2"
            },
            {
              text: "Wakefield"
            },
            {
              text: "WF4 4LG"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ]
        ]
      }) }}

      {{ govukButton({
        text: "Mark vacancy list as complete",
        href: "app-list"
      }) }}

    </div>
  </div>

{% endblock %}
