{% extends "layout.html" %}

{% block pageTitle %}
  Sign in
{% endblock %}

{% block beforeContent %}

{% endblock %}


{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="app-home" method="post">
                {{ govukFieldset({
                    legend: {
                        html: 'Sign in to Kickstart',
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    id: "email-address",
                    name: "email-address",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Password"
                    },
                    id: "user-password",
                    name: "user-password",
                    classes: "govuk-!-width-two-thirds",
                    type: "password"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

                <p><a href="email-address">Register now</a> if you have not used this Kickstart application service before. </p>

                <h2 class="govuk-heading-m">Problems signing in</h2>

                <ul class="govuk-list signin">
                    <li>
                        <a href="reset-password/start" class="govuk-link">I forgot my password</a>
                    </li>
                    <!--li>
                        <a href="account-recovery/access" class="govuk-link">I cannot access the email or mobile phone number I use to sign in</a>
                    </li-->
                </ul>
            </form>
        </div>
    </div>
{% endblock %}
