{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Add a role
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "job-list"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call govukFieldset({
        legend: {
          html: "<span class='govuk-caption-l'>Add a role</span>Role details",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      {{ govukInput({
        label: {
          text: "Role"
        },
        classes: "govuk-input--width-20",
        id: "job-title",
        name: "job title"
      }) }}

      {{ govukInput({
        label: {
          text: "Number of vacancies"
        },
        hint: {
          text: "This is the number of vacancies for this role in this location."
        },
        classes: "govuk-input--width-4",
        id: "width-4",
        name: "width-4"
      }) }}

      {{ govukSelect({
        id: "sort",
        name: "sort",
        label: {
          text: "Industry sector"
        },
        items: [
          {
            value: "Administration",
            text: "Administration"
          },
          {
            value: "Animal Care",
            text: "Animal Care"
          },
          {
            value: "Beauty and Wellbeing",
            text: "Beauty & Wellbeing"
          },
          {
            value: "Business and Finance",
            text: "Business & Finance"
          },
          {
            value: "Computing, Technology and Digital",
            text: "Computing, Technology & Digital"
          },
          {
            value: "Construction and Trades",
            text: "Construction & Trades"
          },
          {
            value: "Creative and Media",
            text: "Creative & Media"
          },
          {
            value: "Delivery and Storage",
            text: "Delivery & Storage"
          },
          {
            value: "Emergency and Uniform Services",
            text: "Emergency & Uniform Services"
          },
          {
            value: "Engineering and Maintenance",
            text: "Engineering & Maintenance"
          },
          {
            value: "Environmentand Land",
            text: "Environment & Land"
          },
          {
            value: "Government Services",
            text: "Government Services"
          },
          {
            value: "Healthcare",
            text: "Healthcare"
          },
          {
            value: "Home Services",
            text: "Home Services"
          },
          {
            value: "Hospitality and Food",
            text: "Hospitality & Food"
          },
          {
            value: "Law and Legal",
            text: "Law & Legal"
          },
          {
            value: "Managerial",
            text: "Managerial"
          },
          {
            value: "Manufacturing",
            text: "Manufacturing"
          },
          {
            value: "Retail and Sales",
            text: "Retail & Sales"
          },
          {
            value: "Science and Research",
            text: "Science & Research"
          },
          {
            value: "Social Care",
            text: "Social Care"
          },
          {
            value: "Sports and Leisure",
            text: "Sports & Leisure"
          },
          {
            value: "Teaching and Education",
            text: "Teaching & Education"
          },
          {
            value: "Transport",
            text: "Transport"
          },
          {
            value: "Travel and Tourism",
            text: "Travel & Tourism"
          }
        ]
      }) }}

      {{ govukInput({
        label: {
          text: "Employer job reference (if provided)"
        },
        hint: {
            text: "Add any internal reference number you have for this vacancy. We will use this when communicating with you about this vacancy."
          },
        classes: "govuk-input--width-10",
        id: "employer-ref",
        name: "employer-ref"
      }) }}

      {% set signatory %}
        {{ govukInput({
          id: "contact-by-email",
          name: "contact-by-email",
          type: "email",
          spellcheck: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Referral cap per vacancy"
          }
        }) }}



        {% endset -%}


        {{ govukRadios({
          idPrefix: "contact",
          name: "contact",
          fieldset: {
            legend: {
              text: "Do you want a referral limit for each vacancy?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "A referral is made when we recommend your job placement to a candidate. This does not guarantee the candidate will put in an application."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: signatory
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}


        {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "Job summary",
          classes: "govuk-label--m",
          isPageHeading: true
        },
        hint: {
          text: "Enter a brief description of the role and duties."
        }
      }) }}


       {{ govukTextarea({
        name: "skills",
        id: "skills",
        label: {
          text: "Skills needed",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "List the skills, experience and qualifications that the claimant will need to do this job."
        }
      }) }}

      {{ govukTextarea({
        name: "additional-support",
        id: "additional-support",
        label: {
          text: "What support will you provide to the claimant to help their employability?",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "For example, coaching and mentoring."
        }
      }) }}

      {{ govukTextarea({
        name: "how-apply",
        id: "how-apply",
        label: {
          text: "How to apply",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: "For example, whether a CV or covering letter are needed, forms to fill in, how the application should be sent."
        }
      }) }}

      
{% endcall %}




    <br>

      {{ govukButton({
        text: "Continue",
        href: "job-add-2"
      }) }}

    </div>
  </div>

{% endblock %}
