{% extends "layout.html" %}

{% block pageTitle %}
  Registration complete
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

               {{ govukPanel({
                  titleText: "Role added",
                  html: "Junior Exhibition Designer, Art and Sculpture Ltd"
                }) }}

            <p>You can add more roles or submit your vacancies from your vacancy list</p>


            {{ govukButton({
                text: "Back to vacancy list",
                href: "job-list"
            }) }}
    </div>
{% endblock %}
