{% extends "layout-header-links.html" %}

{% block pageTitle %}
    Are you sure you want to delete this vacancy?
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/manage-users-link.html" %}
{% include "includes/header-summary-gateway.html" %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                <form id="form" method="post" action="manage-users">

                  {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: "delete-vacancy",
                  name: "delete-vacancy",
                  fieldset: {
                    legend: {
                      text: "Are you sure you want to delete this user?",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--l"
                    }
                  },
                  hint: {
                    text: "You will not be able to undo it."
                  },
                  items: [
                    {
                      value: "yes",
                      text: "Yes"
                    },
                    {
                      value: "no",
                      text: "No"
                    }
                  ]
                  }) }}

                  <button type="submit" class="govuk-button govuk-!-margin-right-1" id="submit">Continue</button>

              </form>


            </div>
          </div>


            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                {{ govukTable({
                  attributes: {
                  'data-module': 'moj-sortable-table'
                  },
                  head: [
                  {
                    text: "Name"
                  },
                  {
                    text: "Email"
                  },
                  {
                    html: "Type"
                  }
                  ],
                  rows: [
                  [
                    {
                      text: "Cheryl Dawlish"
                    },
                    {
                      text: "cheryl.dawlish@artandsculpture.co.uk"
                    },
                    {
                      text: "Editor"
                    }
                  ]
                  ]
                  }) }}
              </div>
            </div>

        </div>
    </div>
{% endblock %}
