{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Vacancies
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "app-home-03"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Step 3 of 3</span>
      <h1 class="govuk-heading-l">
        Vacancies
      </h1>

      <p class="govuk-body">Add the details of the <b>34 Kickstart vacancies</b> for the <b>3 employers</b> that you have been applied for.</p>


      <h2 class="govuk-heading-m">Arts and Sculpture Ltd.</h2>

      {{ govukButton({
        text: "Add a role",
        href: "job-add",
        classes: "govuk-button--secondary"
      }) }}



      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Role"
          },
          {
            text: "Number of vacancies"
          },
          {
            text: "Location"
          },
          {
            text: "Postcode"
          },
          {
            text: ""
          },
          {
            text: ""
          }
        ],
        rows: [
          [
            {
              html: "<a href='job-detail'>Junior exhibition designer</a>"
            },
            {
              text: "2"
            },
            {
              text: "Leeds"
            },
            {
              text: "LS1 3AA"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Junior exhibition designer</a>"
            },
            {
              text: "3"
            },
            {
              text: "Wakefield"
            },
            {
              text: "WF1 5AW"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: ""
            },
            {
              html: "<b>5 / 6</b>"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              html: ""
            },
            {
              html: ""
            }
          ]
        ]
      }) }}

      <hr>

      <h2 class="govuk-heading-m">Skies The Limit Ltd.</h2>

      {{ govukButton({
        text: "Add a role",
        href: "job-add",
        classes: "govuk-button--secondary"
      }) }}



      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Role"
          },
          {
            text: "Number of vacancies"
          },
          {
            text: "Location"
          },
          {
            text: "Postcode"
          },
          {
            text: ""
          },
          {
            text: ""
          }
        ],
        rows: [
          [
            {
              html: "<a href='job-detail'>Labourer</a>"
            },
            {
              text: "5"
            },
            {
              text: "Mutliple"
            },
            {
              text: "- -"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Security officer</a>"
            },
            {
              text: "3"
            },
            {
              text: "Tynemouth"
            },
            {
              text: "NE30 2LB"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Junior admin</a>"
            },
            {
              text: "6"
            },
            {
              text: "Tynemouth"
            },
            {
              text: "NE30 2LB"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Forklift driver</a>"
            },
            {
              text: "1"
            },
            {
              text: "Gateshead"
            },
            {
              text: "NE10 0AU"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: ""
            },
            {
              html: "<b>15 / 19</b>"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              html: ""
            },
            {
              html: ""
            }
          ]
        ]
      }) }}

      <hr>

      <h2 class="govuk-heading-m">Digby's Diner</h2>

      {{ govukButton({
        text: "Add a role",
        href: "job-add",
        classes: "govuk-button--secondary"
      }) }}



      {{ govukTable({
        firstCellIsHeader: false,
        head: [
          {
            text: "Role"
          },
          {
            text: "Number of vacancies"
          },
          {
            text: "Location"
          },
          {
            text: "Postcode"
          },
          {
            text: ""
          },
          {
            text: ""
          }
        ],
        rows: [
          [
            {
              html: "<a href='job-detail'>Waiting staff</a>"
            },
            {
              text: "5"
            },
            {
              text: "Crosby"
            },
            {
              text: "L23 6UG"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: "<a href='job-detail'>Junior barista</a>"
            },
            {
              text: "2"
            },
            {
              text: "Crosby"
            },
            {
              text: "L23 6UG"
            },
            {
              html: "<a href='#'>Duplicate</a>"
            },
            {
              html: "<a href='#'>Delete</a>"
            }
          ],

          [
            {
              html: ""
            },
            {
              html: "<b>7 / 9</b>"
            },
            {
              text: ""
            },
            {
              text: ""
            },
            {
              html: ""
            },
            {
              html: ""
            }
          ]
        ]
      }) }}

      {{ govukButton({
        text: "Submit vacancies",
        href: "app-sent",
        classes: "govuk-button--secondary"
      }) }}

      <p class="govuk-body"><a href="app-home-03">Back to home</a></p>

    </div>
  </div>

{% endblock %}
