{% extends "layout-footer.html" %}

{% block pageTitle %}
  Register for Kickstart
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/language-select-no-back.njk" %}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="phone-code" method="post">
                {{ govukFieldset({
                    legend: {
                        html: "Register your Kickstart account",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                <p>Only complete this form if you have received an email asking you to register.</p>

                {{ govukInput({
                    label: {
                        text: "First name"
                    },
                    id: "register-first-name",
                    name: "register-first-name",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Surname"
                    },
                    id: "register-surname",
                    name: "register-surname",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    id: "register-email-address",
                    name: "register-email-address",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Phone number"
                    },
                    id: "register-phone",
                    name: "register-phone",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                <h2 class="govuk-fieldset__legend--m">Create a password</h2>

                <p>Your password must be 8 characters or more.</p>

                <p>It must include at least:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>one upper case letter</li>
                    <li>one lower case letter</li>
                    <li>one number</li>
                    <li>one special character</li>
                </ul>

                {{ govukDetails({
                    summaryText: "Which special characters can I use?",
                    html: 'You can use the following special characters: @ # $ % ^ & * - _ ; ! + = [ ] { } | \ : ‘ , . ? / ` ~ " ( ) '
                  }) }}

                {{ govukInput({
                    label: {
                        text: "Enter password"
                    },
                    id: "register-password",
                    name: "register-password",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Confirm password"
                    },
                    id: "register-confirm-password",
                    name: "register-confirm-password",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

            {% include "includes/get-help-link.html" %}
        </div>
    </div>
{% endblock %}
