{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Add your vacancies
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
<!-- {% include "includes/manage-users-link.html" %} -->
{% include "includes/header-summary-users.html" %}
    <!-- {{ govukBackLink({
      text: "Back",
      href: "app-home"
    }) }} -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Your vacancies
      </h1>

      <p class="govuk-body">Add your vacancies and submit them. DWP will approve them before they go live.</p>

      {{ govukButton({
        text: "Add a vacancy",
        href: "job-add"
      }) }}

      {% include "includes/get-help-link.html" %}

    </div>
  </div>

{% endblock %}
