{% extends "layout-footer.html" %}

{% block pageTitle %}
  Create a password for your Kickstart Scheme account
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/language-select.njk" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="complete" method="post">
                {{ govukFieldset({
                    legend: {
                        html: "Create a password for your Kickstart Scheme account",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                <p>Your password must be 8 characters or more.</p>

                <p>It must include at least:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>one uppercase letter</li>
                    <li>one lowercase letter</li>
                    <li>one number</li>
                    <li>one special character</li>
                </ul>

                {{ govukDetails({
                    summaryText: "Which special characters can I use?",
                    html: 'You can use any of the following special characters: @ # $ % ^ & * - _ ; ! + = [ ] { } | \ : ‘ , . ? / ` ~ " ( ) '
                  }) }}

                {{ govukInput({
                    label: {
                        text: "Enter password"
                    },
                    id: "register-password",
                    name: "register-password",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukInput({
                    label: {
                        text: "Confirm password"
                    },
                    id: "register-confirm-password",
                    name: "register-confirm-password",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

            {% include "includes/get-help-link.html" %}
        </div>
    </div>
{% endblock %}
