{% extends "layout-header-links.html" %}

{% block pageTitle %}
  Role details
{% endblock %}

{% block beforeContent %}
    {% include 'includes/back-button.njk' %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-0 govuk-!-padding-bottom-2">Barista</h1>
        <p>Employer job ref: AS-B-Wakefield	<br>	</p>
        <strong class="govuk-tag govuk-tag--blue govuk-!-margin-bottom-5">Live</strong>


          {{ govukSummaryList({
            classes: ' ',
            rows: [
              
              {
                key: {
                  text: "Vacancies"
                },
                value: {
                  text: "1"
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Placements"
                },
                value: {
                  text: "0"
                },
                actions: {
                  items: [
                    {
                      href: "placements",
                      text: "Manage",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Referrals"
                },
                value: {
                  text: "18"
                },
                actions: {
                  items: [
                    {
                      href: "referrals",
                      text: "Manage",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Referral limit"
                },
                value: {
                  text: "50"
                },
                actions: {
                  items: [
                    {
                      href: "referral-limit",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              },
               {
                key: {
                  text: "Closing date for job applications"
                },
                value: {
                  text: "10 February 2021"
                },
                actions: {
                  items: [
                    {
                      href: "closing-date",
                      text: "Change",
                      visuallyHiddenText: "name"
                    }
                  ]
                }
              }
              ]
          }) }}


      <form id="form" method="post" action="job-detail">

       {{ govukRadios({
          idPrefix: "manage-role",
          name: "manage-role",
          fieldset: {
            legend: {
              text: "Manage this role",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "place-referral",
              text: "Place someone in this role"
            },
            {
              value: "closing-date",
              text: "Change closing date for job applications"
            },
            {
              value: "referral-limit",
              text: "Change referral limit"
            },
            {
              value: "pause-role",
              text: "Pause role"
            },
            {
              value: "cancel-role",
              text: "Cancel role"
            },
            {
              value: "edit-role",
              text: "Edit role details"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
 


        <p class="govuk-body govuk-!-margin-top-9"><a href="../app-home">Back to home</a></p>
           

    </div>
  </div>

{% endblock %}
