
{% extends "layout.html" %}

{% block pageTitle %}
  Kickstart assessment prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Kickstart assessment prototypes
        <span class="govuk-caption-xl">v.1.0</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Employer and Gateway views</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/employer/v02/email-accepted">Employer 2nd gather - version 2</a></li>
        <li><a href="/employer/v01/email-accepted">Employer 2nd gather - version 1</a> - 10th Dec 2020</li>
        <li>Gateway 2nd gather</li>
      </ul>

      <h2 class="govuk-heading-m">Assessor views</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">Nothing to see yet</a> - xxth Dec 2020</li>
      </ul>
    </div>
  </div>

{% endblock %}
