
{% extends "layout.html" %}

{% block pageTitle %}
  Kickstart assessment prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Kickstart assessment prototypes
        <span class="govuk-caption-xl">v.1.0</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Employer and Gateway views</h2>

      <h3 class="govuk-heading-s">GOV.UK Kickstart demo page</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/gov-uk/v04/start">Kickstart Scheme collection page (v04)</a></li>
        <li><a href="/gov-uk/v03/start">Kickstart Scheme collection page (v03)</a></li>
        <li><a href="/gov-uk/v02/start">Apply for a Kickstart Scheme grant page (v02)</a></li>
        <li><a href="/gov-uk/v01/start">Apply for a Kickstart Scheme grant page (v01)</a></li>
      </ul>

      <h3 class="govuk-heading-s">Gateway views</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/gateway/Manage-users-v01/email-keycloak">Gateway - first variation flow (G-v05)</a> - July 2021</li>
        <li><a href="/gateway/v04/email-keycloak">Gateway - first variation flow (G-v04)</a> - May 2021</li>
        <li><a href="/gateway/v03/email-keycloak">Gateway - first variation flow (G-v03)</a> - April 2021</li>
        <li><a href="/gateway/v02/email-keycloak">Gateway - with Application list (G-v02)</a> - April 2021</li>
        <li><a href="/gateway/v01/email-accepted">Gateway 2nd gather (G-v01)</a> - 17th Dec 2020</li>
      </ul>

      <h3 class="govuk-heading-s">Employer under Gateway</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/employer-under-gateway/E-v01/email-keycloak-add">Employer under Gateway(v01)</a> - July 2021</li>
      </ul>

      <h3 class="govuk-heading-s">Employer views - Managing kickstart vacancies</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/manage-placements/v01/job-list-roles-submitted">Manage placements WIP (v01)</a></ul>


      <h3 class="govuk-heading-s">Employer views - Setting up Kickstart vacancies</h3>


  <ul class="govuk-list govuk-list--bullet">
        <li><a href="/employer/v09/email-keycloak">Employer 2nd gather (v09)</a>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/employer/v09/email-approved">Initially approved for KS email</a></li>
          <li><a href="/employer/v09/email-expired">Link in email has expired journey</a></li>
          <li><a href="/employer/v09/email-reset-password">Forgotten password email</a></li>
          <li><a href="/employer/v09/email-reset-password-exp">Reset password because link has expired</a></li>
        </ul></li>
        <li><a href="/employer/v08/email-keycloak">Employer 2nd gather (v08)</a>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/employer/v08/email-approved">Initially approved for KS email</a></li>
          <li><a href="/employer/v08/email-expired">Link in email has expired journey</a></li>
          <li><a href="/employer/v08/email-reset-password">Forgotten password email</a></li>
          <li><a href="/employer/v08/email-reset-password-exp">Reset password because link has expired</a></li>
        </ul></li>
        <li><a href="/employer/v07/email-keycloak">Employer 2nd gather (v07)</a>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/employer/v07/email-expired">Link in email has expired journey</a></li>
          <li><a href="/employer/v07/email-reset-password">Forgotten password email</a></li>
          <li><a href="/employer/v07/email-reset-password-exp">Reset password because link has expired</a></li>
        </ul></li>
        <li><a href="/employer/v06/email-accepted">Employer 2nd gather</a> &amp; <a href="/employer/v06/start-page">Manage (E-v06)</a> - 15th Jan 2021</li>
        <li><a href="/employer/v05/email-accepted">Employer 2nd gather &amp; Manage (E-v05)</a> - 12th Jan 2021</li>
        <li><a href="/employer/v04/email-accepted">Employer 2nd gather &amp; Manage (E-v04)</a> - 4th Jan 2021</li>
        <li><a href="/employer/v03/email-accepted">Employer 2nd gather (E-v03)</a> - 22nd Dec 2020</li>
        <li><a href="/employer/v02/email-accepted">Employer 2nd gather (E-v02)</a></li>
        <li><a href="/employer/v01/email-accepted">Employer 2nd gather (E-v01)</a> - 10th Dec 2020</li>
      </ul>

      <h3 class="govuk-heading-s">Private beta</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/employer/mvp/email-invite-privatebeta">Employer private beta invite email (v01)</a>
        <li><a href="/employer/mvp/email-agree-privatebeta">Employer private beta agreement email (v01)</a>
        </ul>

      <h3 class="govuk-heading-s">MVP / For dev</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/employer/mvp/email-keycloak">MVP</a></li>
        <li><a href="/employer/mvp-plus/email-keycloak">MVP+</a></li>
      </ul>

    </div>
    <div class="govuk-grid-column-one-third">
      <p><a href="/docs/tutorials-and-examples">Tutorials &amp; examples</a></p>
    </div>
  </div>

{% endblock %}
