{% extends "layout-footer.html" %}

{% block pageTitle %}
  Register for Kickstart
{% endblock %}

{% block beforeContent %}
{% include "includes/beta-banner.html" %}
{% include "includes/language-select-no-back.njk" %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="kc-password" method="post">
                {{ govukFieldset({
                    legend: {
                        html: "Set up a mobile authenticator",
                        classes: "govuk-fieldset__legend--l",
                        isPageHeading: true
                    }
                })}}

                <p class="govuk-body">You must set up a mobile authenticator before you can use your Kickstart account.</p>
                <p class="govuk-body">You'll need to:</p>

                <ol class="govuk-list govuk-list--number">
                  <li>Download and install an authenticator app, for example FreeOTP or Google Authenticator</li>
                  <li>Open the app and enter this key:</li>
                  <p class="govuk-body"><b>JJIU SSRZ NESH URZW M5TT QTKD NRSH ILYV</b></p>
                  <p class="govuk-body"><a href="kc-2fa">Scan barcode?</a></p>
                  <li>Make the following changes to the set-up, if the app allows you to:
                    <ul class="">
                        <li>Type: Time-based</li>
                        <li>Algorithm: SHA1</li>
                        <li>Digits: 6</li>
                        <li>Intervals: 30</li>
                    </ul>
                  </li>
                  <li>Enter the one-time code on the app</li>
                  <!-- <li>Provide a device name, for example Laptop3</li> -->
                  <li>Submit to finish setting up the app</li>
                </ol>

                {{ govukInput({
                    label: {
                        text: "One-time code"
                    },
                    id: "one-time-code",
                    name: "one-time-code",
                    classes: "govuk-!-width-two-thirds"
                }) }}

                <!-- {{ govukInput({
                    label: {
                        text: "Device name"
                    },
                    id: "device-name",
                    name: "device-name",
                    classes: "govuk-!-width-two-thirds"
                }) }}-->

                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>

            {% include "includes/get-help-link.html" %}
        </div>
    </div>
{% endblock %}
